Repository ministryofjustice/create-and-vary-a-licence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck

lint:
  name: linting code
  language: system
  entry: ./node_modules/.bin/lint-staged
  require_serial: true
  pass_filenames: false

typecheck:
  name: verify types
  language: system
  entry: npm run typecheck
  require_serial: true
  pass_filenames: false

CVSL-4078 Create HDC Address search page
  assets/sass/components/_postcode-lookup.scss
  server/routes/varyingLicences/hdc/handlers/curfewAddress.test.ts
  server/routes/varyingLicences/hdc/handlers/curfewAddress.ts
  server/routes/varyingLicences/hdc/index.ts
  server/views/pages/vary/hdc/curfewAddress.njk
Due: lint, typecheck

css
  assets/sass/components/_postcode-lookup.scss
Due: none

fix
  server/routes/varyingLicences/hdc/handlers/curfewAddress.test.ts
  server/views/pages/vary/hdc/curfewAddress.njk
Due: lint, typecheck

fix
  server/views/pages/vary/hdc/accommodationTypeQuestion.njk
  server/views/pages/vary/hdc/curfewAddress.njk
  server/views/pages/vary/hdc/residentialChecksCompletedQuestion.njk
Due: none

fix
  server/views/pages/vary/hdc/residentialChecksIncompleteReason.njk
Due: none

CVSL-4078 Create HDC Address search page (#1779)
  assets/sass/components/_postcode-lookup.scss
  server/routes/varyingLicences/hdc/handlers/curfewAddress.test.ts
  server/routes/varyingLicences/hdc/handlers/curfewAddress.ts
  server/routes/varyingLicences/hdc/index.ts
  server/views/pages/vary/hdc/accommodationTypeQuestion.njk
  server/views/pages/vary/hdc/curfewAddress.njk
  server/views/pages/vary/hdc/residentialChecksCompletedQuestion.njk
  server/views/pages/vary/hdc/residentialChecksIncompleteReason.njk
Due: lint, typecheck

Security patches and exclusions for 27th May 2026
  audit-ci.json
  package-lock.json
  package.json
Due: none

Security patches and exclusions for 27th May 2026 (#1780)
  audit-ci.json
  package-lock.json
  package.json
Due: none

CVSL-4108 Create Address not found with HDC routing
  server/routes/varyingLicences/hdc/handlers/noAddressFound.test.ts
  server/routes/varyingLicences/hdc/handlers/noAddressFound.ts
  server/routes/varyingLicences/hdc/index.ts
  server/views/pages/vary/hdc/noAddressFound.njk
  server/views/pages/vary/hdc/noAddressFound.test.ts
Due: lint, typecheck

CVSL-4162 Added restricted patients banner and enabled in dev
  helm_deploy/create-and-vary-a-licence/values.yaml
  helm_deploy/values-dev.yaml
  server/views/partials/whatsNewBanner.njk
  server/views/partials/whatsNewBanner.test.ts
Due: lint, typecheck

CVSL-4162 Added restricted patients banner and enabled in dev (#1782)
  helm_deploy/create-and-vary-a-licence/values.yaml
  helm_deploy/values-dev.yaml
  server/views/partials/whatsNewBanner.njk
  server/views/partials/whatsNewBanner.test.ts
Due: lint, typecheck

CVSL-4108 Create Address not found with HDC routing (#1781)
  server/routes/varyingLicences/hdc/handlers/noAddressFound.test.ts
  server/routes/varyingLicences/hdc/handlers/noAddressFound.ts
  server/routes/varyingLicences/hdc/index.ts
  server/views/pages/vary/hdc/noAddressFound.njk
  server/views/pages/vary/hdc/noAddressFound.test.ts
Due: lint, typecheck

CVSL-4162 Enable banner in all environments
  helm_deploy/create-and-vary-a-licence/values.yaml
  helm_deploy/values-dev.yaml
Due: none

CVSL-4162 Enable banner in all environments (#1783)
  helm_deploy/create-and-vary-a-licence/values.yaml
  helm_deploy/values-dev.yaml
Due: none

CVSL-4108 fix
  server/routes/varyingLicences/hdc/handlers/curfewAddress.ts
  server/routes/varyingLicences/hdc/handlers/findNewCurfewAddress.test.ts
  server/routes/varyingLicences/hdc/handlers/findNewCurfewAddress.ts
  server/routes/varyingLicences/hdc/handlers/noCurfewAddressFound.test.ts
  server/routes/varyingLicences/hdc/handlers/noCurfewAddressFound.ts
  server/routes/varyingLicences/hdc/index.ts
  server/views/pages/vary/hdc/findNewCurfewAddress.njk
  server/views/pages/vary/hdc/noCurfewAddressFound.njk
  server/views/pages/vary/hdc/noCurfewAddressFound.test.ts
Due: lint, typecheck

CVSL-4108 fix
  server/views/pages/vary/hdc/findNewCurfewAddress.njk
Due: none

CVSL-4108 fix (#1784)
  server/routes/varyingLicences/hdc/handlers/curfewAddress.ts
  server/routes/varyingLicences/hdc/handlers/findNewCurfewAddress.test.ts
  server/routes/varyingLicences/hdc/handlers/findNewCurfewAddress.ts
  server/routes/varyingLicences/hdc/handlers/noCurfewAddressFound.test.ts
  server/routes/varyingLicences/hdc/handlers/noCurfewAddressFound.ts
  server/routes/varyingLicences/hdc/index.ts
  server/views/pages/vary/hdc/findNewCurfewAddress.njk
  server/views/pages/vary/hdc/noCurfewAddressFound.njk
  server/views/pages/vary/hdc/noCurfewAddressFound.test.ts
Due: lint, typecheck

CVSL-4109 Create Select Curfew address page in HDC vary journey
  server/routes/varyingLicences/hdc/handlers/findNewCurfewAddress.test.ts
  server/routes/varyingLicences/hdc/handlers/findNewCurfewAddress.ts
  server/routes/varyingLicences/hdc/handlers/selectCurfewAddress.test.ts
  server/routes/varyingLicences/hdc/handlers/selectCurfewAddress.ts
  server/routes/varyingLicences/hdc/index.ts
  server/views/pages/vary/hdc/selectCurfewAddress.njk
Due: lint, typecheck

CVSL-3948: Updates for drinking establishment condition in policy V4.
  integration_tests/integration/drinkingEstablishment.cy.ts
  integration_tests/mockApis/polices/v4-0.ts
  server/routes/creatingLicences/types/time.ts
  server/routes/manageConditions/types/additionalConditionInputs/drinkingEstablishment.ts
  server/services/conditionService.ts
  server/services/licenceService.test.ts
Due: lint, typecheck

CVSL-4089: Remove the time served survey. (#1778)
  feature.env
  server/config.ts
  server/routes/varyingLicences/handlers/reviewLicence.test.ts
  server/routes/varyingLicences/handlers/reviewLicence.ts
  server/routes/varyingLicences/handlers/timeline.test.ts
  server/routes/varyingLicences/handlers/timeline.ts
  server/utils/nunjucksSetup.ts
  server/views/pages/vary/confirmation.njk
  server/views/pages/vary/confirmation.test.ts
  server/views/pages/vary/timeline.njk
  server/views/partials/improveService.njk
Due: lint, typecheck

CVSL-4109 Create Select Curfew address page in HDC vary journey (#1785)
  server/routes/varyingLicences/hdc/handlers/findNewCurfewAddress.test.ts
  server/routes/varyingLicences/hdc/handlers/findNewCurfewAddress.ts
  server/routes/varyingLicences/hdc/handlers/selectCurfewAddress.test.ts
  server/routes/varyingLicences/hdc/handlers/selectCurfewAddress.ts
  server/routes/varyingLicences/hdc/index.ts
  server/views/pages/vary/hdc/selectCurfewAddress.njk
Due: lint, typecheck

dependency updates
  package-lock.json
  package.json
Due: none

dependency updates (#1789)
  package-lock.json
  package.json
Due: none

CVSL-3948: Updates for drinking establishment condition in policy V4. (#1786)
  integration_tests/integration/drinkingEstablishment.cy.ts
  integration_tests/mockApis/polices/v4-0.ts
  server/routes/creatingLicences/types/time.ts
  server/routes/manageConditions/types/additionalConditionInputs/drinkingEstablishment.ts
  server/services/conditionService.ts
  server/services/licenceService.test.ts
Due: lint, typecheck

Update shell quote to 1.8.4
  package-lock.json
Due: none

update snyk file
  .snyk
Due: none

update shell quote ignore in snyk, will review again Friday.
  .snyk
Due: none

update shell quote ignore in snyk, will review again Friday. (#1791)
  .snyk
Due: none

CVSL-3939 Add new public event condition
  server/routes/manageConditions/types/additionalConditionInputs/publicEvent.ts
  server/services/conditionService.ts
Due: lint, typecheck

CVSL-3939 Add new public event condition (#1792)
  server/routes/manageConditions/types/additionalConditionInputs/publicEvent.ts
  server/services/conditionService.ts
Due: lint, typecheck

CVSL-4110 Adding Curfew address variation manual entry screen
  server/routes/varyingLicences/hdc/handlers/manualAddressEntry.test.ts
  server/routes/varyingLicences/hdc/handlers/manualAddressEntry.ts
  server/routes/varyingLicences/hdc/handlers/residentialChecksIncompleteReason.test.ts
  server/routes/varyingLicences/hdc/handlers/residentialChecksIncompleteReason.ts
  server/routes/varyingLicences/hdc/index.ts
  server/routes/varyingLicences/types/manualCurfewAddress.ts
  server/views/pages/hdc/manualAddressEntry.njk
Due: lint, typecheck

CVSL-3948: Allow hint text
  assets/sass/application.sass
  server/views/formBuilder.njk
  server/views/partials/timePicker.njk
Due: none

CVSL-3948: Allow hint text
  assets/sass/components/_timeRestriction.scss
Due: none

CVSL-3948: Add test for hint text on time picker input.
  server/views/formBuilder.test.ts
Due: lint, typecheck

CVSL-4110 Adding Curfew address variation manual entry screen (#1793)
  server/routes/varyingLicences/hdc/handlers/manualAddressEntry.test.ts
  server/routes/varyingLicences/hdc/handlers/manualAddressEntry.ts
  server/routes/varyingLicences/hdc/handlers/residentialChecksIncompleteReason.test.ts
  server/routes/varyingLicences/hdc/handlers/residentialChecksIncompleteReason.ts
  server/routes/varyingLicences/hdc/index.ts
  server/routes/varyingLicences/types/manualCurfewAddress.ts
  server/views/pages/hdc/manualAddressEntry.njk
Due: lint, typecheck

CVSL-3948: Disable hidden conditional inputs when saving condition data.
  assets/js/conditions/disableHiddenConditionalInputs.js
  server/views/pages/manageConditions/additionalLicenceConditionInput.njk
  server/views/pages/manageConditions/outOfBoundsPremises/input.njk
Due: lint

CVSL-3948: Use govkuk-spacing instead of hard coded pixels.
  assets/sass/components/_timeRestriction.scss
Due: none

CVSL-3948: Fix add another and disable hidden inputs both creating their own onload event, instead add to the event listeners.
  assets/js/conditions/addAnother.js
  assets/js/conditions/disableHiddenConditionalInputs.js
  server/views/pages/manageConditions/additionalLicenceConditionInput.njk
Due: lint

CVSL-3948: Allow hint text (#1794)
  assets/sass/application.sass
  assets/sass/components/_timeRestriction.scss
  server/views/formBuilder.njk
  server/views/formBuilder.test.ts
  server/views/partials/timePicker.njk
Due: lint, typecheck

Path conditions:
  lint: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.css$
  typecheck: any of: \.(ts|mts|cts)$
