Repository ministryofjustice/create-and-vary-a-licence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck

lint:
  name: linting code
  language: system
  entry: ./node_modules/.bin/lint-staged
  require_serial: true
  pass_filenames: false

typecheck:
  name: verify types
  language: system
  entry: npm run typecheck
  require_serial: true
  pass_filenames: false

CVSL-4457 remove var in view file
  server/views/pages/view/view.njk
Due: none

CVSL-4464 patching npm dependencies
  package-lock.json
  package.json
Due: none

CVSL-4464 patching npm dependencies (#1992)
  package-lock.json
  package.json
Due: none

CVSL-4440 Fixing test name
  server/views/pages/manageConditions/fileUploads/multiInstanceInput.test.ts
Due: lint, typecheck

CVSL-4457 remove target attribute from button
  server/views/pages/view/view.njk
Due: none

CVSL-4440 Adding header captions to input pages (#1989)
  server/@types/licenceApiImport/index.d.ts
  server/routes/manageConditions/handlers/fileUploads/fileUploadRemovalRoutes.ts
  server/views/pages/manageConditions/fileUploads/confirmUploadDeletion.njk
  server/views/pages/manageConditions/fileUploads/confirmUploadDeletion.test.ts
  server/views/pages/manageConditions/fileUploads/list.njk
  server/views/pages/manageConditions/fileUploads/list.test.ts
  server/views/pages/manageConditions/fileUploads/multiInstanceInput.njk
  server/views/pages/manageConditions/fileUploads/multiInstanceInput.test.ts
Due: lint, typecheck

CVSL-4324 Adding hint text to esim policy upgrade
  server/config/policyChangeHintText.ts
Due: lint, typecheck

CVSL-4457 remove target attribute from test as removed from button
  integration_tests/pages/viewALicence.ts
Due: lint, typecheck

CVSL-4457 stop CA printing if no date time set (#1991)
  integration_tests/pages/viewALicence.ts
  server/routes/viewingLicences/handlers/viewLicence.test.ts
  server/routes/viewingLicences/handlers/viewLicence.ts
  server/views/pages/view/view.njk
  server/views/pages/view/view.test.ts
Due: lint, typecheck

CVSL-4324 Adding hint text to esim policy upgrade (#1993)
  server/config/policyChangeHintText.ts
Due: lint, typecheck

CVSL-4361: Add policy change hints for drug testing condition update in policy V4.
  server/config/policyChangeHintText.ts
  server/views/pages/vary/policyTextChange.njk
Due: lint, typecheck

CVSL-4361: Add unit test policy text change template.
  server/config/policyChangeHintText.ts
  server/views/pages/vary/policyTextChange.njk
Due: lint, typecheck

CVSL-4361: Add unit test policy text change template.
  server/views/pages/vary/policyTextChange.test.ts
Due: lint, typecheck

CVSL-4361: Remove duplicate hint text for condition.
  server/config/policyChangeHintText.ts
Due: lint, typecheck

CVSL-4457 change banner message
  server/views/pages/view/view.njk
  server/views/pages/view/view.test.ts
Due: lint, typecheck

CVSL-4457 change banner message (#1995)
  server/views/pages/view/view.njk
  server/views/pages/view/view.test.ts
Due: lint, typecheck

CVSL-4326 UPGRADE-JOURNEY-Create-Curfew-Upgrade-page
  server/config/policyChangeHintText.ts
  server/routes/varyingLicences/handlers/policyChange.ts
  server/services/curfewConditionService.test.ts
  server/services/curfewConditionService.ts
Due: lint, typecheck

Cvsl 4457 change banner message 2 (#1996)
  server/views/pages/view/view.njk
  server/views/pages/view/view.test.ts
Due: lint, typecheck

CVSL-4467 removing unused appointment code
  cypress.config.ts
  integration_tests/mockApis/licence.ts
  server/@types/licenceApiClientTypes.ts
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/index.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/index.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.ts
  server/services/licenceService.test.ts
  server/services/licenceService.ts
  server/utils/utils.test.ts
  server/utils/utils.ts
Due: lint, typecheck

CVSL-4467 removing unused appointment code (#1997)
  cypress.config.ts
  integration_tests/mockApis/licence.ts
  server/@types/licenceApiClientTypes.ts
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/index.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/index.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.ts
  server/services/licenceService.test.ts
  server/services/licenceService.ts
  server/utils/utils.test.ts
  server/utils/utils.ts
Due: lint, typecheck

CVSL-4326 UPGRADE-JOURNEY-Create-Curfew-Upgrade-page
  server/services/curfewConditionService.test.ts
  server/services/curfewConditionService.ts
Due: lint, typecheck

unit test fix
  server/routes/varyingLicences/handlers/policyChange.test.ts
Due: lint, typecheck

CVSL-4460 Licence versioning UPDATE V4 info banners
  server/views/partials/whatsNewBanner.njk
Due: none

CVSL-4460 Licence versioning UPDATE V4 info banners
  server/views/partials/whatsNewBanner.test.ts
Due: lint, typecheck

Cvsl 4460 licence versioning update v4 info banners (#1998)
  server/views/partials/whatsNewBanner.njk
  server/views/partials/whatsNewBanner.test.ts
Due: lint, typecheck

CVSL-4460 Licence versioning UPDATE V4 info banners
  server/services/curfewConditionService.test.ts
  server/services/curfewConditionService.ts
Due: lint, typecheck

CVSL-4461 Removing licence creation block
  create-env-file.sh
  feature.env
  helm_deploy/create-and-vary-a-licence/values.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-test1.yaml
  helm_deploy/values-test2.yaml
  server/config.ts
  server/routes/creatingLicences/handlers/caseload.test.ts
  server/routes/creatingLicences/handlers/caseload.ts
  server/routes/creatingLicences/handlers/licenceCreationBlocked.ts
  server/routes/creatingLicences/index.ts
Due: lint, typecheck

CVSL-4469 Enable whats new banner
  helm_deploy/create-and-vary-a-licence/values.yaml
Due: none

remove unused fields
  server/routes/manageConditions/handlers/additionalLicenceConditionInput.ts
  server/utils/conditionRoutes.ts
Due: lint, typecheck

CVSL-4469 Enable whats new banner
  helm_deploy/values-dev.yaml
  helm_deploy/values-test1.yaml
Due: none

CVSL-4469 Enable whats new banner (#2000)
  helm_deploy/create-and-vary-a-licence/values.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-test1.yaml
Due: none

CVSL-4147 update AddAnother component import
  assets/js/conditions/addAnother.mjs
  server/views/pages/manageConditions/additionalLicenceConditionInput.njk
  server/views/pages/manageConditions/bespokeConditions.njk
  server/views/pages/manageConditions/curfew/input.njk
  server/views/pages/manageConditions/curfew/input_V4.njk
  server/views/pages/manageConditions/fileUploads/multiInstanceInput.njk
  server/views/pages/manageConditions/fileUploads/singleInstanceInput.njk
  server/views/pages/manageConditions/outOfBoundsPremises/input.njk
Due: lint

Update values-dev.yaml
  helm_deploy/values-dev.yaml
Due: none

Update values-test1.yaml
  helm_deploy/values-test1.yaml
Due: none

CVSL-4326 UPGRADE JOURNEY Create Curfew Upgrade page (#1965)
  integration_tests/mockApis/polices/v4-0.ts
  server/config/policyChangeHintText.ts
  server/routes/manageConditions/handlers/additionalLicenceConditionInput.ts
  server/routes/manageConditions/handlers/additionalLicenceConditionsCallback.ts
  server/routes/varyingLicences/handlers/policyChange.test.ts
  server/routes/varyingLicences/handlers/policyChange.ts
  server/routes/varyingLicences/index.ts
  server/services/curfewConditionService.test.ts
  server/services/curfewConditionService.ts
  server/utils/conditionRoutes.test.ts
  server/utils/conditionRoutes.ts
  server/utils/nunjucksSetup.ts
  server/views/pages/manageConditions/curfew/input_V4.njk
  server/views/pages/vary/policyConditionReplaced.njk
  server/views/partials/additionalLicenceConditionsSummary.njk
Due: lint, typecheck

CVSL-4461 Removing licence creation block (#1999)
  create-env-file.sh
  feature.env
  helm_deploy/create-and-vary-a-licence/values.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-test1.yaml
  helm_deploy/values-test2.yaml
  server/config.ts
  server/routes/creatingLicences/handlers/caseload.test.ts
  server/routes/creatingLicences/handlers/caseload.ts
  server/routes/creatingLicences/handlers/licenceCreationBlocked.ts
  server/routes/creatingLicences/index.ts
Due: lint, typecheck

CVSL-4467 moving to use derived missingAppointmentTime flag
  server/@types/licenceApiImport/index.d.ts
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
  server/routes/approvingLicences/handlers/approvalView.test.ts
  server/routes/approvingLicences/handlers/approvalView.ts
  server/routes/creatingLicences/handlers/checkAnswers.test.ts
  server/routes/creatingLicences/handlers/checkAnswers.ts
  server/routes/initialAppointment/handlers/initialMeetingName.test.ts
  server/routes/initialAppointment/handlers/initialMeetingName.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingName.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingName.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingName.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingName.ts
  server/routes/viewingLicences/handlers/viewLicence.test.ts
  server/routes/viewingLicences/handlers/viewLicence.ts
  server/services/licenceService.test.ts
  server/services/licenceService.ts
  server/views/pages/approve/InitialAppointment.test.ts
  server/views/partials/inductionMeetingDetailsSummary.njk
Due: lint, typecheck

Path conditions:
  lint: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.css$
  typecheck: any of: \.(ts|mts|cts)$
