Repository ministryofjustice/create-and-vary-a-licence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck

.pre-commit-config.yaml:

# Pre-commit hook configuration file
#
# This contains the list of hooks to be run before committing code.
# The devsecops-hooks baseline hook is temporarily disabled while we investigate issues with it but will eventually become compulsory.
# Other hooks maybe added or removed as needed to suit individual project requirements.

repos:
  #. Temporary disabled while we investigate issues with it
  #  - repo: https://github.com/ministryofjustice/devsecops-hooks
  #    rev: v1.1.0
  #    hooks:
  #      - id: baseline
  - repo: local
    hooks:
      - id: gitleaks
        name: Scan commit for secrets
        language: system
        entry: gitleaks git --pre-commit --redact --staged --verbose --config .gitleaks/config.toml --gitleaks-ignore-path .gitleaks/.gitleaksignore
        require_serial: true
        pass_filenames: false
      - id: lint
        name: linting code
        language: system
        entry: ./node_modules/.bin/lint-staged
        types_or: [ts,javascript,css]
        require_serial: true
        pass_filenames: false
      - id: typecheck
        name: verify types
        language: system
        entry: npm run typecheck
        types_or: [ts]
        require_serial: true
        pass_filenames: false
  - repo: builtin
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict

CVSL-3642 check for allocated flag true instead of for probation practitioner object
  server/@types/licenceApiImport/index.d.ts
  server/routes/approvingLicences/handlers/approvalCases.test.ts
  server/routes/approvingVariations/handlers/varyApproveList.test.ts
  server/routes/creatingLicences/handlers/caseload.test.ts
  server/routes/search/handlers/caSearch.test.ts
  server/routes/varyingLicences/handlers/caseload.test.ts
  server/services/lists/caCaseloadService.test.ts
  server/services/lists/varyApproverCaseloadService.test.ts
  server/views/pages/approve/cases.njk
  server/views/pages/create/caseload.njk
  server/views/pages/create/caseload.test.ts
  server/views/pages/search/approverSearch/approverSearch.njk
  server/views/pages/search/approverSearch/approverSearch.test.ts
  server/views/pages/search/caSearch/caSearch.njk
  server/views/pages/search/caSearch/caSearch.test.ts
  server/views/pages/search/varyApproverSearch/varyApproverSearch.njk
  server/views/pages/search/varyApproverSearch/varyApproverSearch.test.ts
  server/views/pages/support/probationStaff.njk
  server/views/pages/support/probationTeam.njk
  server/views/pages/vary-approve/cases.njk
  server/views/pages/vary-approve/cases.test.ts
  server/views/pages/vary/caseload.njk
  server/views/pages/vary/caseload.test.ts
  server/views/pages/view/cases.njk
  server/views/pages/view/cases.test.ts
  server/views/partials/getProbationPractitionerLink.njk
  server/views/partials/getProbationPractitionerLink.test.ts
  server/views/partials/viewCases.njk
  server/views/partials/viewCases.test.ts
Due: lint, typecheck

CVSL-3637: Fix the error you get when navigating to a PSS condition that has been deleted.
  server/routes/manageConditions/handlers/additionalPssConditionInput.test.ts
  server/routes/manageConditions/handlers/additionalPssConditionInput.ts
  server/views/pages/support/offenderLicenceDates.njk
Due: lint, typecheck

CVSL-3642 fix int tests
  integration_tests/integration/approveLicence.cy.ts
  integration_tests/mockApis/licence.ts
Due: lint, typecheck

CVSL-3637: Fix the error you get when navigating to a PSS condition that has been deleted. (#1596)
  server/routes/manageConditions/handlers/additionalPssConditionInput.test.ts
  server/routes/manageConditions/handlers/additionalPssConditionInput.ts
  server/views/pages/support/offenderLicenceDates.njk
Due: lint, typecheck

CVSL-3553: Show the SSD from nomis on the offender detail support page.
  server/routes/support/handlers/offenderDetail.test.ts
  server/routes/support/handlers/offenderDetail.ts
  server/views/pages/support/offenderDetail.njk
Due: lint, typecheck

CVSL-3553: Show the SSD from nomis on the offender detail support page. (#1597)
  server/routes/support/handlers/offenderDetail.test.ts
  server/routes/support/handlers/offenderDetail.ts
  server/views/pages/support/offenderDetail.njk
Due: lint, typecheck

CVSL-3664: Remove the probation event listener as the queue has now been removed in dev.
  cypress.config.ts
  integration_tests/integration/eventHandlers.cy.ts
  integration_tests/mockApis/delius.ts
  integration_tests/mockApis/licence.ts
  integration_tests/support/events.ts
  server.ts
  server/config.ts
  server/index.ts
  server/listeners/sqsProbationEventsListener.ts
Due: lint, typecheck

CVSL-3664: Remove the probation event listener as the queue has now been removed in dev. (#1598)
  cypress.config.ts
  integration_tests/integration/eventHandlers.cy.ts
  integration_tests/mockApis/delius.ts
  integration_tests/mockApis/licence.ts
  integration_tests/support/events.ts
  server.ts
  server/config.ts
  server/index.ts
  server/listeners/sqsProbationEventsListener.ts
Due: lint, typecheck

CVSL-3664: Fix app insights set up.
  server.ts
Due: lint, typecheck

CVSL-3664: Fix app insights set up. (#1599)
  server.ts
Due: lint, typecheck

CVSL-3664: Move the SQS secrets config from values.yml to each environment file so that we can remove probation queue config for dev.
  helm_deploy/create-and-vary-a-licence/values.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-preprod.yaml
  helm_deploy/values-prod.yaml
  helm_deploy/values-test1.yaml
  helm_deploy/values-test2.yaml
Due: none

CVSL-3664: Move the SQS secrets config from values.yml to each environment file so that we can remove probation queue config for dev. (#1600)
  helm_deploy/create-and-vary-a-licence/values.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-preprod.yaml
  helm_deploy/values-prod.yaml
  helm_deploy/values-test1.yaml
  helm_deploy/values-test2.yaml
Due: none

CVSL-3664: Move the SQS secrets config to the correct place for test2.
  helm_deploy/values-test2.yaml
Due: none

CVSL-3664: Add back prison events queue for dev.
  helm_deploy/values-dev.yaml
Due: none

CVSL-3664: Move the SQS secrets config to the correct place for test2. (#1601)
  helm_deploy/values-dev.yaml
  helm_deploy/values-test2.yaml
Due: none

CVSL-3642 update isClickable check on com caseload and remove pdf parse library
  integration_tests/gotenberg/gotenbergIntegration.test.ts
  package-lock.json
  package.json
  server/routes/creatingLicences/handlers/caseload.ts
Due: lint, typecheck

CVSL-3642 add more test coverage for isClickable
  server/routes/creatingLicences/handlers/caseload.test.ts
Due: lint, typecheck

CVSL-3642 check for allocated flag true instead of for probation practitioner object (#1595)
  integration_tests/gotenberg/gotenbergIntegration.test.ts
  integration_tests/integration/approveLicence.cy.ts
  integration_tests/mockApis/licence.ts
  package-lock.json
  package.json
  server/@types/licenceApiImport/index.d.ts
  server/routes/approvingLicences/handlers/approvalCases.test.ts
  server/routes/approvingVariations/handlers/varyApproveList.test.ts
  server/routes/creatingLicences/handlers/caseload.test.ts
  server/routes/creatingLicences/handlers/caseload.ts
  server/routes/search/handlers/caSearch.test.ts
  server/routes/varyingLicences/handlers/caseload.test.ts
  server/services/lists/caCaseloadService.test.ts
  server/services/lists/varyApproverCaseloadService.test.ts
  server/views/pages/approve/cases.njk
  server/views/pages/create/caseload.njk
  server/views/pages/create/caseload.test.ts
  server/views/pages/search/approverSearch/approverSearch.njk
  server/views/pages/search/approverSearch/approverSearch.test.ts
  server/views/pages/search/caSearch/caSearch.njk
  server/views/pages/search/caSearch/caSearch.test.ts
  server/views/pages/search/varyApproverSearch/varyApproverSearch.njk
  server/views/pages/search/varyApproverSearch/varyApproverSearch.test.ts
  server/views/pages/support/probationStaff.njk
  server/views/pages/support/probationTeam.njk
  server/views/pages/vary-approve/cases.njk
  server/views/pages/vary-approve/cases.test.ts
  server/views/pages/vary/caseload.njk
  server/views/pages/vary/caseload.test.ts
  server/views/pages/view/cases.njk
  server/views/pages/view/cases.test.ts
  server/views/partials/getProbationPractitionerLink.njk
  server/views/partials/getProbationPractitionerLink.test.ts
  server/views/partials/viewCases.njk
  server/views/partials/viewCases.test.ts
Due: lint, typecheck

CVSL-3660 Adding route handler for FTR56 report
  assets/sass/local.sass
  server/@types/licenceApiClientTypes.ts
  server/@types/licenceApiImport/index.d.ts
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
  server/routes/home/handlers/home.test.ts
  server/routes/home/handlers/home.ts
  server/routes/reporting/handlers/index.test.ts
  server/routes/reporting/handlers/index.ts
  server/routes/reporting/handlers/lastMinuteHandoverCases.test.ts
  server/routes/reporting/handlers/lastMinuteHandoverCases.ts
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.test.ts
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.ts
  server/routes/reporting/index.ts
  server/routes/support/index.ts
  server/services/licenceService.ts
  server/views/pages/dpr/reports.njk
  server/views/pages/index.njk
  server/views/pages/reports/index.njk
  server/views/pages/reports/lastMinuteHandoverCases.njk
  server/views/pages/reports/upcomingReleasesWithMonitoring.njk
Due: lint, typecheck

CVSL-3660 Adding route handler for FTR56 report (#1604)
  assets/sass/local.sass
  server/@types/licenceApiClientTypes.ts
  server/@types/licenceApiImport/index.d.ts
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
  server/routes/home/handlers/home.test.ts
  server/routes/home/handlers/home.ts
  server/routes/reporting/handlers/index.test.ts
  server/routes/reporting/handlers/index.ts
  server/routes/reporting/handlers/lastMinuteHandoverCases.test.ts
  server/routes/reporting/handlers/lastMinuteHandoverCases.ts
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.test.ts
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.ts
  server/routes/reporting/index.ts
  server/routes/support/index.ts
  server/services/licenceService.ts
  server/views/pages/dpr/reports.njk
  server/views/pages/index.njk
  server/views/pages/reports/index.njk
  server/views/pages/reports/lastMinuteHandoverCases.njk
  server/views/pages/reports/upcomingReleasesWithMonitoring.njk
Due: lint, typecheck

CVSL-3665 Moving to system tokens for auth with DPR
  server/data/hmppsRestClient.ts
  server/data/licenceApiClient.ts
  server/routes/reporting/handlers/dprReports.test.ts
  server/routes/reporting/handlers/dprReports.ts
  server/routes/reporting/index.ts
  server/services/dprService.ts
Due: lint, typecheck

CVSL-3661 Moving to use new licence response types
  .allowed-scripts.mjs
  .nsprc
  .pre-commit-config.yaml
  integration_tests/mockApis/licence.ts
  package-lock.json
  package.json
  server/@types/licenceApiClientTypes.ts
  server/@types/licenceApiImport/index.d.ts
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
  server/services/licenceService.ts
Due: lint, typecheck

CVSL-3661 Moving to use new licence response types (#1606)
  .allowed-scripts.mjs
  .nsprc
  .pre-commit-config.yaml
  integration_tests/mockApis/licence.ts
  package-lock.json
  package.json
  server/@types/licenceApiClientTypes.ts
  server/@types/licenceApiImport/index.d.ts
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
  server/services/licenceService.ts
Due: lint, typecheck

CVSL-3665 Adding frontend integration WIP
  .pre-commit-config.yaml
  package-lock.json
  package.json
  server/data/index.ts
  server/routes/index.ts
  server/routes/reporting/index.ts
  server/services/index.ts
Due: lint, typecheck

CVSL-3664: Remove secret for probation events queue for test1.
  helm_deploy/values-test1.yaml
Due: none

CVSL-3664: Remove secret for probation events queue for test2.
  helm_deploy/values-test2.yaml
Due: none

CVSL-3664: Remove secret for probation events queue for test1. (#1607)
  helm_deploy/values-test1.yaml
Due: none

CVSL-3664: Remove secret for probation events queue for test2. (#1608)
  helm_deploy/values-test2.yaml
Due: none

CVSL-3664: Remove secret for probation events queue for pre-prod.
  helm_deploy/values-preprod.yaml
Due: none

CVSL-3664: Remove secret for probation events queue for prod.
  helm_deploy/values-prod.yaml
Due: none

CVSL-3312 CVL | Upgrade @ministryofjustice/frontend
  package-lock.json
  package.json
  server/views/layout.njk
Due: none

CVSL-3664: Remove secret for probation events queue for pre-prod. (#1609)
  helm_deploy/values-preprod.yaml
Due: none

unused files
  assets/js/mojInit.mjs
Due: lint

CVSL-3664: Remove secret for probation events queue for prod. (#1610)
  helm_deploy/values-prod.yaml
Due: none

cypress update
  package-lock.json
  package.json
Due: none

CVSL-3672 Removing remaining bits of code around com reallocation handling
  .pre-commit-config.yaml
  cypress.config.ts
  integration_tests/mockApis/licence.ts
  server/@types/events.ts
  server/@types/licenceApiClientTypes.ts
  server/data/deliusClient.test.ts
  server/data/deliusClient.ts
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
  server/listeners/eventHandlers/probationEvents/index.ts
  server/listeners/eventHandlers/probationEvents/offenderManagerChangedEventHandler.test.ts
  server/listeners/eventHandlers/probationEvents/offenderManagerChangedEventHandler.ts
  server/services/licenceService.test.ts
  server/services/licenceService.ts
  server/services/probationService.test.ts
  server/services/probationService.ts
Due: lint, typecheck

CVSL-3672 Removing remaining bits of code around com reallocation handling (#1612)
  .pre-commit-config.yaml
  cypress.config.ts
  integration_tests/mockApis/licence.ts
  server/@types/events.ts
  server/@types/licenceApiClientTypes.ts
  server/data/deliusClient.test.ts
  server/data/deliusClient.ts
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
  server/listeners/eventHandlers/probationEvents/index.ts
  server/listeners/eventHandlers/probationEvents/offenderManagerChangedEventHandler.test.ts
  server/listeners/eventHandlers/probationEvents/offenderManagerChangedEventHandler.ts
  server/services/licenceService.test.ts
  server/services/licenceService.ts
  server/services/probationService.test.ts
  server/services/probationService.ts
Due: lint, typecheck

CVSL-3312 CVL Upgrade @ministryofjustice frontend
  package-lock.json
  package.json
  server/views/layout.njk
Due: none

@ministryofjustice/frontend
  package-lock.json
  package.json
Due: none
