Repository ministryofjustice/create-and-vary-a-licence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck

lint:
  name: linting code
  language: system
  entry: ./node_modules/.bin/lint-staged
  require_serial: true
  pass_filenames: false

typecheck:
  name: verify types
  language: system
  entry: npm run typecheck
  require_serial: true
  pass_filenames: false

fix
  integration_tests/pages/prisonSelectAddressPage.ts
Due: lint, typecheck

CVSL-3703 Reporting - Respondent 2 - RECURRING - CVL Data for FTR56 Dashboard
  server/@types/licenceApiImport/index.d.ts
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.test.ts
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.ts
  server/views/pages/reports/upcomingReleasesWithMonitoring.njk
Due: lint, typecheck

unit test
  server/routes/initialAppointment/handlers/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.test.ts
Due: lint, typecheck

CVSL-3703 Reporting - Respondent 2 - RECURRING - CVL Data for FTR56 Dashboard
  server/@types/licenceApiImport/index.d.ts
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.test.ts
Due: lint, typecheck

CVSL-3675 allow time served licences in progress to be clickable and allow changes to appointment details
  server/@types/licenceApiClientTypes.ts
  server/routes/viewingLicences/handlers/viewCases.test.ts
  server/routes/viewingLicences/handlers/viewCases.ts
  server/routes/viewingLicences/handlers/viewLicence.test.ts
  server/routes/viewingLicences/handlers/viewLicence.ts
  server/utils/utils.test.ts
  server/utils/utils.ts
Due: lint, typecheck

rename addressRemoved -> addressRemovedMessage
  server/routes/initialAppointment/handlers/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/staff/handlers/deletePreferredAddress.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/staff/handlers/deletePreferredAddress.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.ts
  server/routes/staff/handlers/deletePreferredAddress.test.ts
  server/routes/staff/handlers/deletePreferredAddress.ts
  server/views/pages/initialAppointment/initialMeetingPlace.njk
  server/views/pages/initialAppointment/prisonCreated/initialMeetingPlace.njk
Due: lint, typecheck

CVSL-3703 Reporting - Respondent 2 - RECURRING - CVL Data for FTR56 D… (#1632)
  server/@types/licenceApiImport/index.d.ts
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.test.ts
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.ts
  server/views/pages/reports/upcomingReleasesWithMonitoring.njk
Due: lint, typecheck

CVSL-3675 linting fix
  server/@types/licenceApiClientTypes.ts
Due: lint, typecheck

CVSL-3559 CVL Add Flash Message When Saved Address Is Removed in Post… (#1631)
  cypress.config.ts
  integration_tests/integration/postcodeLookup.cy.ts
  integration_tests/mockApis/licence.ts
  integration_tests/pages/appointmentPlace.ts
  integration_tests/pages/prisonSelectAddressPage.ts
  server/routes/initialAppointment/handlers/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/staff/handlers/deletePreferredAddress.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/staff/handlers/deletePreferredAddress.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.ts
  server/routes/staff/handlers/deletePreferredAddress.test.ts
  server/routes/staff/handlers/deletePreferredAddress.ts
  server/views/pages/initialAppointment/initialMeetingPlace.njk
  server/views/pages/initialAppointment/prisonCreated/initialMeetingPlace.njk
  server/views/pages/initialAppointment/prisonCreated/selectAddress.njk
Due: lint, typecheck

CVSL-3675 linting fix
  server/utils/utils.test.ts
Due: lint, typecheck

CVSL-3675 add same logic to ca search
  server/routes/search/handlers/caSearch.test.ts
  server/routes/search/handlers/caSearch.ts
Due: lint, typecheck

CVSL-3675 more instances changed to check for time served kind where it was isInHardStopPeriod only
  server/routes/search/handlers/caSearch.test.ts
  server/routes/search/handlers/caSearch.ts
  server/utils/nunjucksSetup.test.ts
  server/utils/nunjucksSetup.ts
Due: lint, typecheck

CVSL-3675 set warning banner when making a change to addresses for time served licences
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/manualAddressPostcodeLookup.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/manualAddressPostcodeLookup.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/selectAddress.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/selectAddress.ts
Due: lint, typecheck

CVSL-3675 check kind is time served as well as isInHardStopPeriod for timed out logic (#1633)
  server/@types/licenceApiClientTypes.ts
  server/routes/search/handlers/caSearch.test.ts
  server/routes/search/handlers/caSearch.ts
  server/routes/viewingLicences/handlers/viewCases.test.ts
  server/routes/viewingLicences/handlers/viewCases.ts
  server/routes/viewingLicences/handlers/viewLicence.test.ts
  server/routes/viewingLicences/handlers/viewLicence.ts
  server/utils/nunjucksSetup.test.ts
  server/utils/nunjucksSetup.ts
  server/utils/utils.test.ts
  server/utils/utils.ts
Due: lint, typecheck

CVSL-3675 set warning banner when making a change to addresses for time served licences (#1634)
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/manualAddressPostcodeLookup.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/manualAddressPostcodeLookup.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/selectAddress.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/selectAddress.ts
Due: lint, typecheck

Reapply "CVSL-3665 Moving to system tokens for auth with DPR (#1605)" (#1629)
  server/data/hmppsRestClient.ts
  server/data/licenceApiClient.ts
  server/routes/reporting/handlers/dprReports.test.ts
  server/routes/reporting/handlers/dprReports.ts
  server/routes/reporting/index.ts
  server/services/dprService.ts
Due: lint, typecheck

CVSL-3667 Updated to use POST url for addresses
  integration_tests/mockApis/licence.ts
  server/@types/licenceApiImport/index.d.ts
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
Due: lint, typecheck

CVSL-3665 Adding source maps in dev
  package.json
  server/routes/reporting/handlers/dprReports.test.ts
Due: lint, typecheck

CVSL-3667 Updated to use POST url for addresses (#1636)
  integration_tests/mockApis/licence.ts
  server/@types/licenceApiImport/index.d.ts
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
Due: lint, typecheck

Adding co-pilot agent instructions
  .github/copilot-instructions.md
  .github/instructions/documentation.instructions.md
  package.json
Due: none

Adding co-pilot agent instructions (#1637)
  .github/copilot-instructions.md
  .github/instructions/documentation.instructions.md
  package.json
Due: none

CVSL-3699: Update the time served enabled prisons in pre-prod.
  helm_deploy/values-preprod.yaml
Due: none

CVSL-3699: Update the time served enabled prisons in pre-prod. (#1638)
  helm_deploy/values-preprod.yaml
Due: none

CVSL-3786 dependency update
  package-lock.json
  package.json
Due: none

CVSL-3786 fix cypress config
  .allowed-scripts.mjs
Due: lint

CVSL-3786 dependency update (#1640)
  .allowed-scripts.mjs
  package-lock.json
  package.json
Due: lint

Reapply "CVSL-3665 Moving to system tokens for auth with DPR (#1635)
  server/data/hmppsRestClient.ts
  server/data/licenceApiClient.ts
  server/routes/reporting/handlers/dprReports.test.ts
  server/routes/reporting/handlers/dprReports.ts
  server/routes/reporting/index.ts
  server/services/dprService.ts
Due: lint, typecheck

Updated to use cvlDateToDateShortMethod
  server/routes/approvingLicences/handlers/approvalCases.ts
Due: lint, typecheck

CVSL-3776 Updated formatter to remove leading zeros
  server/routes/approvingLicences/handlers/approvalCases.test.ts
  server/routes/approvingLicences/handlers/approvalCases.ts
Due: lint, typecheck

Fix lint and add extra test
  server/routes/approvingLicences/handlers/approvalCases.ts
  server/utils/utils.test.ts
Due: lint, typecheck

Removed leading 0 in creating caseload screen
  server/routes/creatingLicences/handlers/caseload.test.ts
  server/routes/creatingLicences/handlers/caseload.ts
Due: lint, typecheck

CVSL-3776 Updated formatter to remove leading zeros (#1639)
  server/routes/approvingLicences/handlers/approvalCases.test.ts
  server/routes/approvingLicences/handlers/approvalCases.ts
  server/routes/creatingLicences/handlers/caseload.test.ts
  server/routes/creatingLicences/handlers/caseload.ts
  server/utils/utils.test.ts
Due: lint, typecheck

CVSL-3784: Handle missing delius record when creating a time served licence.
  server/@types/licenceApiClientTypes.ts
  server/data/licenceApiClient.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/confirmCreate.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/index.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/ndeliusRecordMissing.test.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/ndeliusRecordMissingRoutes.ts
  server/views/pages/create/prisonCreated/timeServed/ndeliusRecordMissing.njk
Due: lint, typecheck

CVSL-3699: Update time served enabled prisons for prod
  helm_deploy/create-and-vary-a-licence/values.yaml
Due: none

CVSL-3699: Update time served enabled prisons for prod (#1641)
  helm_deploy/create-and-vary-a-licence/values.yaml
Due: none

CVSL-3784: Add test for NDelius record missing page.
  server/views/pages/create/prisonCreated/timeServed/ndeliusRecordMissing.njk
  server/views/pages/create/prisonCreated/timeServed/ndeliusRecordMissing.test.ts
Due: lint, typecheck

CVSL-3784: Handle missing delius record when creating a time served l… (#1642)
  server/@types/licenceApiClientTypes.ts
  server/data/licenceApiClient.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/confirmCreate.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/index.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/ndeliusRecordMissing.test.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/ndeliusRecordMissingRoutes.ts
  server/views/pages/create/prisonCreated/timeServed/ndeliusRecordMissing.njk
  server/views/pages/create/prisonCreated/timeServed/ndeliusRecordMissing.test.ts
Due: lint, typecheck

CVSL-3665 Hooking up DPR frontend platform
  .allowed-scripts.mjs
  .gitignore
  assets/js/dpr.js
  package-lock.json
  package.json
  server/@types/dprReportingTypes.ts
  server/@types/express/index.d.ts
  server/app.ts
  server/data/index.ts
  server/data/licenceApiClient.ts
  server/routes/__testutils/appSetup.ts
  server/routes/index.ts
  server/routes/reporting/handlers/dprReports.test.ts
  server/routes/reporting/handlers/dprReports.ts
  server/routes/reporting/handlers/index.test.ts
  server/routes/reporting/handlers/index.ts
  server/routes/reporting/index.ts
  server/services/dprService.ts
  server/services/index.ts
  server/utils/nunjucksSetup.ts
  server/views/layout.njk
  server/views/pages/reports/index.njk
Due: lint, typecheck

CVSL-3784: Dependency updates.
  .allowed-scripts.mjs
  package-lock.json
  package.json
Due: lint

CVSL-3784: Dependency updates. (#1644)
  .allowed-scripts.mjs
  package-lock.json
  package.json
Due: lint

Path conditions:
  lint: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.css$
  typecheck: any of: \.(ts|mts|cts)$
