Repository ministryofjustice/create-and-vary-a-licence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck

.pre-commit-config.yaml:

# Pre-commit hook configuration file
#
# This contains the list of hooks to be run before committing code.
# The devsecops-hooks baseline hook is temporarily disabled while we investigate issues with it but will eventually become compulsory.
# Other hooks maybe added or removed as needed to suit individual project requirements.

repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.2.0
    hooks:
      - id: baseline
  - repo: local
    hooks:
      - id: lint
        name: linting code
        language: system
        entry: ./node_modules/.bin/lint-staged
        types_or: [ts, javascript, css]
        require_serial: true
        pass_filenames: false
      - id: typecheck
        name: verify types
        language: system
        entry: npm run typecheck
        types_or: [ts]
        require_serial: true
        pass_filenames: false
  - repo: builtin
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict

CVSL-4065 remove PSS specific screens from confirmation screens (#2002)
  server/routes/creatingLicences/handlers/prisonCreated/confirmation.ts
  server/routes/varyingLicences/handlers/confirmation.test.ts
  server/routes/varyingLicences/handlers/confirmation.ts
  server/routes/varyingLicences/index.ts
Due: lint, typecheck

CVSL-4065 remove PSS specific logic for approver journey
  server/views/pages/approve/keyDates.njk
  server/views/pages/approve/view.njk
  server/views/pages/immediateReleaseConditions.njk
Due: none

CVSL-4065 remove PSS specific logic for approver journey (#2003)
  server/views/pages/approve/keyDates.njk
  server/views/pages/approve/view.njk
  server/views/pages/immediateReleaseConditions.njk
Due: none

CVSL-4147 updates to the addAdnother component
  assets/js/conditions/addAnother.mjs
  server/views/pages/manageConditions/bespokeConditions.njk
Due: lint

CVSL-4065 remove PSS logic instances for OMU journey
  server/views/pages/create/prisonCreated/hardStop/confirmCreate.njk
  server/views/pages/vary/viewActive.njk
  server/views/pages/view/view.njk
  server/views/pages/view/view.test.ts
Due: lint, typecheck

CVSL-4467 moving to use derived missingAppointmentTime flag (#2001)
  server/@types/licenceApiImport/index.d.ts
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
  server/routes/approvingLicences/handlers/approvalView.test.ts
  server/routes/approvingLicences/handlers/approvalView.ts
  server/routes/creatingLicences/handlers/checkAnswers.test.ts
  server/routes/creatingLicences/handlers/checkAnswers.ts
  server/routes/initialAppointment/handlers/initialMeetingName.test.ts
  server/routes/initialAppointment/handlers/initialMeetingName.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingName.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingName.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingName.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingName.ts
  server/routes/viewingLicences/handlers/viewLicence.test.ts
  server/routes/viewingLicences/handlers/viewLicence.ts
  server/services/licenceService.test.ts
  server/services/licenceService.ts
  server/views/pages/approve/InitialAppointment.test.ts
  server/views/partials/inductionMeetingDetailsSummary.njk
Due: lint, typecheck

CVSL-4453 Add validation to EM date field
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.test.ts
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.ts
Due: lint, typecheck

CVSL-4453 Add validation to EM date field (#2006)
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.test.ts
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.ts
Due: lint, typecheck

CVSL-4453 error-message-update
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.test.ts
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.ts
Due: lint, typecheck

CVSL-4065 remove PSS logic instances for OMU journey (#2004)
  server/views/pages/create/prisonCreated/hardStop/confirmCreate.njk
  server/views/pages/vary/viewActive.njk
  server/views/pages/view/view.njk
  server/views/pages/view/view.test.ts
Due: lint, typecheck

CVSL-4453 error-message-update (#2007)
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.test.ts
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.ts
Due: lint, typecheck

CVSL-4361: Add policy change hints for drug testing condition update … (#1994)
  server/config/policyChangeHintText.ts
  server/views/pages/vary/policyTextChange.njk
  server/views/pages/vary/policyTextChange.test.ts
Due: lint, typecheck

CVSL-4328: Add policy change hint for upgrading EM condition to V4.
  server/config/policyChangeHintText.ts
Due: lint, typecheck

CVSL-4466 Create Polygraph upgrade page V4
  server/config/policyChangeHintText.ts
Due: lint, typecheck

CVSL-4328: Add policy change hint for upgrading EM condition to V4. (#2008)
  server/config/policyChangeHintText.ts
Due: lint, typecheck

CVSL-4466 Create Polygraph upgrade page V4 (#2009)
  server/config/policyChangeHintText.ts
Due: lint, typecheck

CVSL-4486 Add link to user satisfaction to probation practitioner HDC confirmation screen
  feature.env
  server/config.ts
  server/routes/varyingLicences/handlers/timeline.test.ts
  server/utils/nunjucksSetup.ts
  server/views/pages/create/prisonCreated/timeServed/ndeliusRecordMissing.njk
  server/views/pages/vary/confirmation.njk
  server/views/pages/vary/confirmation.test.ts
Due: lint, typecheck

CVSL-4486 Add link to user satisfaction to probation practitioner HDC confirmation screen
  assets/sass/components/_confirm-create.scss
  server/views/pages/vary/confirmation.njk
Due: none

Replace HMPPS_SNYK_API_KEY with client credentials in security_snyk_scan.yml workflow
  .github/workflows/security_snyk_scan.yml
Due: none

CVSL-4147 add previous version of addAnother js
  assets/js/conditions/addAnother.js
  assets/js/conditions/addAnotherComponent.mjs
  server/views/pages/manageConditions/additionalLicenceConditionInput.njk
  server/views/pages/manageConditions/bespokeConditions.njk
  server/views/pages/manageConditions/curfew/input.njk
  server/views/pages/manageConditions/curfew/input_V4.njk
  server/views/pages/manageConditions/fileUploads/multiInstanceInput.njk
  server/views/pages/manageConditions/fileUploads/singleInstanceInput.njk
  server/views/pages/manageConditions/outOfBoundsPremises/input.njk
Due: lint

Cvsl 4486 add link to user satisfaction to probation practitioner hdc confirmation screen (#2010)
  assets/sass/components/_confirm-create.scss
  feature.env
  server/config.ts
  server/routes/varyingLicences/handlers/timeline.test.ts
  server/utils/nunjucksSetup.ts
  server/views/pages/create/prisonCreated/timeServed/ndeliusRecordMissing.njk
  server/views/pages/vary/confirmation.njk
  server/views/pages/vary/confirmation.test.ts
Due: lint, typecheck

CVSL-4147 add explanatory comment to addAnotherComponent file
  assets/js/conditions/addAnotherComponent.mjs
Due: lint

CVSL-4147 update govuk and moj frontend dependencies (#1990)
  assets/js/conditions/addAnother.js
  assets/js/conditions/addAnotherComponent.mjs
  assets/sass/application.sass
  assets/sass/components/_add-another.scss
  assets/sass/components/_card.scss
  assets/sass/components/_date-picker.scss
  assets/sass/components/_summary-card.scss
  package-lock.json
  package.json
  server/views/pages/manageConditions/additionalLicenceConditionInput.njk
  server/views/pages/manageConditions/bespokeConditions.njk
  server/views/pages/manageConditions/curfew/input.njk
  server/views/pages/manageConditions/curfew/input_V4.njk
  server/views/pages/manageConditions/fileUploads/multiInstanceInput.njk
  server/views/pages/manageConditions/fileUploads/singleInstanceInput.njk
  server/views/pages/manageConditions/outOfBoundsPremises/input.njk
Due: lint

CVSL-4453 update-error-handling
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.test.ts
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.ts
  server/validators/dateIsStrictlyAfter.ts
Due: lint, typecheck

CVSL-4453 update-error-handling
  server/validators/dateIsStrictlyAfter.test.ts
Due: lint, typecheck

CVSL-4486 content-change
  server/views/pages/vary/confirmation.njk
Due: none

CVSL-4493 patching and moving to npm 12
  .allowed-scripts.mjs
  .dockerignore
  .github/workflows/pipeline.yml
  .npmrc
  Dockerfile
  eslint.config.mjs
  package-lock.json
  package.json
  server/@types/licenceApiClientTypes.ts
  server/data/tokenStore.test.ts
  tsconfig.json
Due: lint, typecheck

CVSL-4486 content-change (#2014)
  server/views/pages/vary/confirmation.njk
Due: none

CVSL-4493 update copilot instructions
  .github/copilot-instructions.md
Due: none

CVSL-4453 update error message if user not select any monitoring option
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.test.ts
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.ts
Due: lint, typecheck

CVSL-4493 patching and moving to npm 12 (#2012)
  .allowed-scripts.mjs
  .dockerignore
  .github/copilot-instructions.md
  .github/workflows/pipeline.yml
  .npmrc
  Dockerfile
  eslint.config.mjs
  package-lock.json
  package.json
  server/@types/licenceApiClientTypes.ts
  server/data/tokenStore.test.ts
  tsconfig.json
Due: lint, typecheck

Cvsl 4453 update error handling (#2013)
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.test.ts
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.ts
  server/validators/dateIsStrictlyAfter.test.ts
  server/validators/dateIsStrictlyAfter.ts
Due: lint, typecheck

CVSL-4489 EM child Condition pages Update validation to date fields
  server/routes/manageConditions/types/additionalConditionInputs/alcoholMonitoringPeriod.test.ts
  server/routes/manageConditions/types/additionalConditionInputs/alcoholMonitoringPeriod.ts
  server/routes/manageConditions/types/additionalConditionInputs/alcoholRestrictionPeriod.test.ts
  server/routes/manageConditions/types/additionalConditionInputs/alcoholRestrictionPeriod.ts
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringPeriod.test.ts
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringPeriod.ts
  server/routes/manageConditions/types/additionalConditionInputs/electronicTagPeriod.test.ts
  server/routes/manageConditions/types/additionalConditionInputs/electronicTagPeriod.ts
Due: lint, typecheck

CVSL-4489 EM child Condition pages Update validation to date fields (#2016)
  server/routes/manageConditions/types/additionalConditionInputs/alcoholMonitoringPeriod.test.ts
  server/routes/manageConditions/types/additionalConditionInputs/alcoholMonitoringPeriod.ts
  server/routes/manageConditions/types/additionalConditionInputs/alcoholRestrictionPeriod.test.ts
  server/routes/manageConditions/types/additionalConditionInputs/alcoholRestrictionPeriod.ts
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringPeriod.test.ts
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringPeriod.ts
  server/routes/manageConditions/types/additionalConditionInputs/electronicTagPeriod.test.ts
  server/routes/manageConditions/types/additionalConditionInputs/electronicTagPeriod.ts
Due: lint, typecheck

CVSL-4448 CVL | create-and-vary-a-licence security review
  server/routes/manageConditions/handlers/fileUploads/index.ts
  server/services/licenceService.test.ts
  server/services/licenceService.ts
  server/services/probationService.ts
Due: lint, typecheck

CVSL-4491 Adding validator for v4 Approved Premises condition
  integration_tests/integration/mapUploads.cy.ts
  integration_tests/mockApis/polices/v4-0.ts
  server/routes/manageConditions/types/additionalConditionInputs/reportToApprovedPremisesPolicyV4.ts
  server/services/conditionService.ts
Due: lint, typecheck

Potential fix for pull request finding
  server/services/probationService.ts
Due: lint, typecheck

Potential fix for pull request finding
  server/services/licenceService.ts
Due: lint, typecheck

Potential fix for pull request finding
  server/services/licenceService.test.ts
Due: lint, typecheck

CVSL-4448 CVL | create-and-vary-a-licence security review - Expected 1 empty line after import statement not followed by another import
  server/services/licenceService.ts
Due: lint, typecheck
