Repository ministryofjustice/create-and-vary-a-licence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck

lint:
  name: linting code
  language: system
  entry: ./node_modules/.bin/lint-staged
  require_serial: true
  pass_filenames: false

typecheck:
  name: verify types
  language: system
  entry: npm run typecheck
  require_serial: true
  pass_filenames: false

js update
  assets/js/conditions/addAnother.js
Due: lint

remove comments
  assets/js/conditions/addAnother.js
Due: lint

CVSL-3660 Adding LSD to ftr56 report
  server/@types/licenceApiImport/index.d.ts
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.test.ts
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.ts
  server/views/pages/reports/upcomingReleasesWithMonitoring.njk
Due: lint, typecheck

CVSL-3660 Adding LSD to ftr56 report (#1614)
  server/@types/licenceApiImport/index.d.ts
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.test.ts
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.ts
  server/views/pages/reports/upcomingReleasesWithMonitoring.njk
Due: lint, typecheck

CVSL-3660 fix date format in test
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.test.ts
Due: lint, typecheck

script changes
  assets/js/conditions/addAnother.js
Due: lint

lint
  assets/js/conditions/addAnother.js
Due: lint

lint fix
  assets/js/conditions/addAnother.js
Due: lint

fix
  assets/js/conditions/addAnother.js
Due: lint

Update upcomingReleasesWithMonitoring.test.ts
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.test.ts
Due: lint, typecheck

Cvsl 3312 cvl upgrade @ministryofjustice frontend (#1613)
  assets/js/conditions/addAnother.js
  package-lock.json
  package.json
  server/views/layout.njk
Due: lint

CVSL-1571: Fix null CRO being displayed on some printed licence types as null instead of N/A.
  server/routes/viewingLicences/handlers/printLicence.ts
Due: lint, typecheck

CVSL-1571: Add test to check licence CRO is printed correctly.
  server/routes/viewingLicences/handlers/printLicence.test.ts
Due: lint, typecheck

CVSL-1571: Remove accidentally adedd space that caused a test failure
  server/routes/viewingLicences/handlers/printLicence.test.ts
Due: lint, typecheck

CVSL-1571: Fix null CRO being displayed on some printed licence types… (#1616)
  server/routes/viewingLicences/handlers/printLicence.test.ts
  server/routes/viewingLicences/handlers/printLicence.ts
Due: lint, typecheck

CVSL-3660 fix date format in test (#1615)
  server/routes/reporting/handlers/upcomingReleasesWithMonitoring.test.ts
Due: lint, typecheck

CVSL-3642 ca changes
  integration_tests/integration/time-served/createLicence.cy.ts
  integration_tests/mockApis/licence.ts
  server/views/pages/search/caSearch/caSearch.njk
  server/views/pages/search/caSearch/caSearch.test.ts
  server/views/pages/view/cases.njk
  server/views/pages/view/cases.test.ts
  server/views/partials/viewCases.njk
  server/views/partials/viewCases.test.ts
Due: lint, typecheck

CVSL-3642 com case list changes
  server/views/pages/create/caseload.njk
  server/views/pages/create/caseload.test.ts
  server/views/partials/viewCases.test.ts
Due: lint, typecheck

CVSL-3642 approver changes
  integration_tests/integration/approveLicence.cy.ts
  integration_tests/integration/time-served/approveLicence.cy.ts
  integration_tests/integration/time-served/varyLicence.cy.ts
  integration_tests/pages/approvalCases.ts
  integration_tests/pages/approvalView.ts
  server/views/pages/approve/cases.njk
  server/views/pages/approve/view.njk
  server/views/pages/search/approverSearch/approverSearch.njk
  server/views/pages/search/approverSearch/approverSearch.test.ts
  server/views/partials/getProbationPractitionerLink.njk
  server/views/partials/getProbationPractitionerLink.test.ts
Due: lint, typecheck

CVSL-3642 vary approver changes
  integration_tests/integration/time-served/varyLicence.cy.ts
  integration_tests/mockApis/licence.ts
  server/views/pages/search/varyApproverSearch/varyApproverSearch.njk
  server/views/pages/search/varyApproverSearch/varyApproverSearch.test.ts
  server/views/pages/vary-approve/cases.njk
  server/views/pages/vary-approve/cases.test.ts
  server/views/pages/vary/caseload.njk
  server/views/pages/vary/caseload.test.ts
Due: lint, typecheck

CVSL-3642 support changes
  server/routes/support/handlers/prrdCasesByPrison.ts
  server/views/pages/support/probationStaff.njk
  server/views/pages/support/probationTeam.njk
Due: lint, typecheck

CVSL-3642 ca changes (#1617)
  integration_tests/integration/approveLicence.cy.ts
  integration_tests/integration/time-served/approveLicence.cy.ts
  integration_tests/integration/time-served/createLicence.cy.ts
  integration_tests/integration/time-served/varyLicence.cy.ts
  integration_tests/mockApis/licence.ts
  integration_tests/pages/approvalCases.ts
  integration_tests/pages/approvalView.ts
  server/routes/support/handlers/prrdCasesByPrison.ts
  server/views/pages/approve/cases.njk
  server/views/pages/approve/view.njk
  server/views/pages/create/caseload.njk
  server/views/pages/create/caseload.test.ts
  server/views/pages/search/approverSearch/approverSearch.njk
  server/views/pages/search/approverSearch/approverSearch.test.ts
  server/views/pages/search/caSearch/caSearch.njk
  server/views/pages/search/caSearch/caSearch.test.ts
  server/views/pages/search/varyApproverSearch/varyApproverSearch.njk
  server/views/pages/search/varyApproverSearch/varyApproverSearch.test.ts
  server/views/pages/support/probationStaff.njk
  server/views/pages/support/probationTeam.njk
  server/views/pages/vary-approve/cases.njk
  server/views/pages/vary-approve/cases.test.ts
  server/views/pages/vary/caseload.njk
  server/views/pages/vary/caseload.test.ts
  server/views/pages/view/cases.njk
  server/views/pages/view/cases.test.ts
  server/views/partials/getProbationPractitionerLink.njk
  server/views/partials/getProbationPractitionerLink.test.ts
  server/views/partials/viewCases.njk
  server/views/partials/viewCases.test.ts
Due: lint, typecheck

CVSL-3541 CVL Tidy up licence creation endpoints
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
  server/routes/creatingLicences/crdLicenceInHardStop.test.ts
  server/routes/creatingLicences/handlers/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/confirmCreate.ts
  server/routes/creatingLicences/handlers/hdc/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/hdc/confirmCreate.ts
  server/routes/creatingLicences/handlers/prisonCreated/hardStop/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/prisonCreated/hardStop/confirmCreate.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/confirmCreate.ts
  server/routes/creatingLicences/handlers/recall/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/recall/confirmCreate.ts
  server/services/licenceService.test.ts
  server/services/licenceService.ts
Due: lint, typecheck

test fix
  server/routes/creatingLicences/handlers/prisonCreated/hardStop/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/recall/confirmCreate.test.ts
Due: lint, typecheck

lint fix
  server/routes/creatingLicences/handlers/prisonCreated/hardStop/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/recall/confirmCreate.test.ts
Due: lint, typecheck

CVSL-3642 use probation practitioner in probation search
  server/@types/licenceApiImport/index.d.ts
  server/routes/search/handlers/probationSearch.test.ts
  server/routes/support/handlers/timeServedCasesByPrison.ts
  server/services/lists/caCaseloadService.test.ts
  server/views/pages/search/probationSearch/probationSearch.njk
  server/views/pages/search/probationSearch/probationSearch.test.ts
Due: lint, typecheck

CVSL-3642 remove template references to comName and comStaffCode
  server/views/pages/search/caSearch/caSearch.njk
  server/views/pages/search/probationSearch/probationSearch.njk
Due: none

CVSL-3462 add mising pp objects from test file
  server/routes/search/handlers/probationSearch.test.ts
Due: lint, typecheck

int test fix
  cypress.config.ts
  integration_tests/integration/createHdcLicence.cy.ts
  integration_tests/integration/createLicence.cy.ts
  integration_tests/integration/createPrrdLicence.cy.ts
  integration_tests/integration/electronicMonitoringProvider.cy.ts
  integration_tests/integration/mapUploads.cy.ts
  integration_tests/integration/postcodeLookup.cy.ts
  integration_tests/integration/time-served/createLicence.cy.ts
  integration_tests/mockApis/licence.ts
Due: lint, typecheck

CVSL-3642 integration test fix
  integration_tests/mockApis/licence.ts
Due: lint, typecheck

Cvsl 3541 cvl tidy up licence creation endpoints (#1618)
  cypress.config.ts
  integration_tests/integration/createHdcLicence.cy.ts
  integration_tests/integration/createLicence.cy.ts
  integration_tests/integration/createPrrdLicence.cy.ts
  integration_tests/integration/electronicMonitoringProvider.cy.ts
  integration_tests/integration/mapUploads.cy.ts
  integration_tests/integration/postcodeLookup.cy.ts
  integration_tests/integration/time-served/createLicence.cy.ts
  integration_tests/mockApis/licence.ts
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
  server/routes/creatingLicences/crdLicenceInHardStop.test.ts
  server/routes/creatingLicences/handlers/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/confirmCreate.ts
  server/routes/creatingLicences/handlers/hdc/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/hdc/confirmCreate.ts
  server/routes/creatingLicences/handlers/prisonCreated/hardStop/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/prisonCreated/hardStop/confirmCreate.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/confirmCreate.ts
  server/routes/creatingLicences/handlers/recall/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/recall/confirmCreate.ts
  server/services/licenceService.test.ts
  server/services/licenceService.ts
Due: lint, typecheck

CVSL-3642 use probation practitioner in probation search (#1619)
  integration_tests/mockApis/licence.ts
  server/@types/licenceApiImport/index.d.ts
  server/routes/search/handlers/probationSearch.test.ts
  server/routes/support/handlers/timeServedCasesByPrison.ts
  server/services/lists/caCaseloadService.test.ts
  server/views/pages/search/caSearch/caSearch.njk
  server/views/pages/search/probationSearch/probationSearch.njk
  server/views/pages/search/probationSearch/probationSearch.test.ts
Due: lint, typecheck

CVSL-3665 Moving to system tokens for auth with DPR
  server/data/hmppsRestClient.ts
  server/data/licenceApiClient.ts
  server/routes/reporting/handlers/dprReports.test.ts
  server/routes/reporting/handlers/dprReports.ts
  server/routes/reporting/index.ts
  server/services/dprService.ts
Due: lint, typecheck

CVSL-3665 Moving to system tokens for auth with DPR (#1605)
  server/data/hmppsRestClient.ts
  server/data/licenceApiClient.ts
  server/routes/reporting/handlers/dprReports.test.ts
  server/routes/reporting/handlers/dprReports.ts
  server/routes/reporting/index.ts
  server/services/dprService.ts
Due: lint, typecheck

Moving to latest DPR lib
  package-lock.json
  package.json
  server/app.ts
  server/data/index.ts
  server/routes/__testutils/appSetup.ts
  server/routes/index.ts
  server/routes/prisonerController.test.ts
  server/routes/reporting/index.ts
  server/services/index.ts
  server/utils/azureAppInsights.test.ts
  server/utils/nunjucksSetup.ts
Due: lint, typecheck

reveal error
  server/routes/__testutils/appSetup.ts
  server/routes/index.ts
  server/utils/azureAppInsights.test.ts
Due: lint, typecheck

CVSL-3377 CVL PROGRESSION Build Restriction zones child page
  server/middleware/validationMiddleware.ts
  server/routes/manageConditions/handlers/fileUploads/fileUploadInputRoutes.test.ts
  server/routes/manageConditions/handlers/fileUploads/fileUploadInputRoutes.ts
  server/routes/manageConditions/handlers/fileUploads/index.ts
  server/routes/manageConditions/types/additionalConditionInputs/inBoundsRegion.ts
  server/services/conditionService.ts
  server/utils/conditionRoutes.test.ts
  server/utils/conditionRoutes.ts
  server/validators/isValidRestrictionZoneFile.test.ts
  server/validators/isValidRestrictionZoneFile.ts
Due: lint, typecheck

fix
  server/middleware/validationMiddleware.test.ts
  server/validators/isValidRestrictionZoneFile.test.ts
Due: lint, typecheck

fix
  server/validators/isValidRestrictionZoneFile.ts
Due: lint, typecheck

generic validator handler
  server/middleware/validationMiddleware.test.ts
  server/middleware/validationMiddleware.ts
  server/routes/manageConditions/handlers/fileUploads/fileUploadInputRoutes.ts
  server/routes/manageConditions/handlers/fileUploads/index.ts
  server/routes/manageConditions/types/additionalConditionInputs/inBoundsRegion.ts
  server/routes/manageConditions/types/additionalConditionInputs/outOfBoundsEvent.ts
  server/routes/manageConditions/types/additionalConditionInputs/outOfBoundsRegion.ts
  server/routes/manageConditions/types/additionalConditionInputs/outOfBoundsRegionPolicyV3.ts
  server/utils/utils.test.ts
  server/utils/utils.ts
  server/validators/IsValidZoneDefinitionFile.test.ts
  server/validators/IsValidZoneDefinitionFile.ts
  server/validators/isValidExclusionZoneFile.test.ts
  server/validators/isValidExclusionZoneFile.ts
  server/views/formBuilder.njk
Due: lint, typecheck

Path conditions:
  lint: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.css$
  typecheck: any of: \.(ts|mts|cts)$
