Repository ministryofjustice/create-and-vary-a-licence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck

.pre-commit-config.yaml:

# Pre-commit hook configuration file
#
# This contains the list of hooks to be run before committing code.
# The devsecops-hooks baseline hook is temporarily disabled while we investigate issues with it but will eventually become compulsory.
# Other hooks maybe added or removed as needed to suit individual project requirements.

repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.2.0
    hooks:
      - id: baseline
  - repo: local
    hooks:
      - id: lint
        name: linting code
        language: system
        entry: ./node_modules/.bin/lint-staged
        types_or: [ts, javascript, css]
        require_serial: true
        pass_filenames: false
      - id: typecheck
        name: verify types
        language: system
        entry: npm run typecheck
        types_or: [ts]
        require_serial: true
        pass_filenames: false
  - repo: builtin
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict

CVSL-4287 amend confirmation screen for OMU submission
  helm_deploy/values-dev.yaml
  helm_deploy/values-test1.yaml
  server/views/pages/create/prisonCreated/confirmation.njk
  server/views/pages/create/prisonCreated/confirmation.test.ts
Due: lint, typecheck

CVSL-4287 enable final third in dev envs
  helm_deploy/values-dev.yaml
  helm_deploy/values-test1.yaml
Due: none

CVSL-4287 amend confirmation screen for OMU submission (#1930)
  helm_deploy/values-dev.yaml
  helm_deploy/values-test1.yaml
  server/views/pages/create/prisonCreated/confirmation.njk
  server/views/pages/create/prisonCreated/confirmation.test.ts
Due: lint, typecheck

CVSL-4283 remove text from sentence
  server/views/pages/create/confirmation.njk
  server/views/pages/create/confirmation.test.ts
Due: lint, typecheck

CVSL-4283 remove text from sentence (#1931)
  server/views/pages/create/confirmation.njk
  server/views/pages/create/confirmation.test.ts
Due: lint, typecheck

CVSL-4254: Handle no COM allocated when doing licence pdf for final t… (#1926)
  server/views/pages/licence/AP.test.ts
  server/views/pages/licence/partials/induction.njk
Due: lint, typecheck

Dependency updates.
  .allowed-scripts.mjs
  package-lock.json
  package.json
Due: lint

CVSL-4282 update contact number page for omu
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingContact.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingContact.ts
  server/views/pages/initialAppointment/prisonCreated/initialMeetingContact.njk
  server/views/pages/initialAppointment/prisonCreated/initialMeetingContact.test.ts
Due: lint, typecheck

Dependency updates. (#1932)
  .allowed-scripts.mjs
  package-lock.json
  package.json
Due: lint

CVSL-4282 update contact number page for omu (#1933)
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingContact.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingContact.ts
  server/views/pages/initialAppointment/prisonCreated/initialMeetingContact.njk
  server/views/pages/initialAppointment/prisonCreated/initialMeetingContact.test.ts
Due: lint, typecheck

CVSL-4395 moving from renovate to dependabot
  .github/dependabot.yml
  renovate.json
Due: none

CVSL-4284: Update the OMU check answers page for final third.
  server/views/pages/create/checkAnswers.test.ts
  server/views/pages/selectedAppointmentPerson.njk
  server/views/pages/view/view.test.ts
  server/views/partials/inductionMeetingDetailsSummary.njk
  server/views/partials/prisonCreated/inductionMeetingDetailsSummary.njk
Due: lint, typecheck

CVSL-4395 moving from renovate to dependabot (#1934)
  .github/dependabot.yml
  renovate.json
Due: none

CVSL-4284: Update the OMU check answers page for final third. (#1935)
  server/views/pages/create/checkAnswers.test.ts
  server/views/pages/selectedAppointmentPerson.njk
  server/views/pages/view/view.test.ts
  server/views/partials/inductionMeetingDetailsSummary.njk
  server/views/partials/prisonCreated/inductionMeetingDetailsSummary.njk
Due: lint, typecheck

Added support of No appointment needed time type
  server/@types/licenceApiImport/index.d.ts
  server/routes/initialAppointment/handlers/initialMeetingName.test.ts
  server/routes/initialAppointment/handlers/initialMeetingName.ts
  server/routes/initialAppointment/types/dateTime.ts
Due: lint, typecheck

CVSL-4255 Add new routes for no appointment needed.
  server/routes/creatingLicences/types/licenceToSubmit.ts
  server/routes/initialAppointment/handlers/initialMeetingName.test.ts
  server/routes/initialAppointment/handlers/initialMeetingName.ts
  server/routes/initialAppointment/handlers/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/selectAddress.test.ts
  server/routes/initialAppointment/handlers/selectAddress.ts
  server/routes/initialAppointment/index.ts
Due: lint, typecheck

CVSL-4284: Fix date/time being displayed on OMU check answers page when no appointment needed.
  server/views/pages/view/view.test.ts
  server/views/partials/inductionMeetingDetailsSummary.njk
  server/views/partials/prisonCreated/inductionMeetingDetailsSummary.njk
Due: lint, typecheck

CVSL-4284: Fix date/time being displayed on OMU check answers page when no appointment needed. (#1942)
  server/views/pages/view/view.test.ts
  server/views/partials/inductionMeetingDetailsSummary.njk
  server/views/partials/prisonCreated/inductionMeetingDetailsSummary.njk
Due: lint, typecheck

CVSL-4346 update devsec hooks
  .pre-commit-config.yaml
Due: none

CVSL-4282 update contact number page for omu time served journey
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingContact.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingContact.ts
Due: lint, typecheck

CVSL-4346 update devsec hooks (#1943)
  .pre-commit-config.yaml
Due: none

CVSL-4282 update contact number page for omu time served journey (#1944)
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingContact.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingContact.ts
Due: lint, typecheck

CVSL-4255 Add new routes for no appointment needed. (#1923)
  server/@types/licenceApiImport/index.d.ts
  server/routes/creatingLicences/types/licenceToSubmit.ts
  server/routes/initialAppointment/handlers/initialMeetingName.test.ts
  server/routes/initialAppointment/handlers/initialMeetingName.ts
  server/routes/initialAppointment/handlers/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/selectAddress.test.ts
  server/routes/initialAppointment/handlers/selectAddress.ts
  server/routes/initialAppointment/index.ts
  server/routes/initialAppointment/types/dateTime.ts
Due: lint, typecheck

CVSL-4255 Update edit links for no appointment needed.
  server/routes/creatingLicences/types/licenceToSubmit.ts
  server/views/pages/create/checkAnswers.njk
  server/views/pages/create/checkAnswers.test.ts
  server/views/pages/view/view.test.ts
  server/views/partials/inductionMeetingDetailsSummary.njk
Due: lint, typecheck

CVSL-4343 remove deprecated comName and comStaffCode references
  integration_tests/mockApis/licence.ts
  server/routes/search/handlers/probationSearch.test.ts
  server/views/pages/search/probationSearch/probationSearch.njk
  server/views/pages/search/probationSearch/probationSearch.test.ts
Due: lint, typecheck

CVSL-4343 remove deprecated comName and comStaffCode references (#1946)
  integration_tests/mockApis/licence.ts
  server/routes/search/handlers/probationSearch.test.ts
  server/views/pages/search/probationSearch/probationSearch.njk
  server/views/pages/search/probationSearch/probationSearch.test.ts
Due: lint, typecheck

CVSL-4255 Update edit links for no appointment needed. (#1945)
  server/routes/creatingLicences/types/licenceToSubmit.ts
  server/views/pages/create/checkAnswers.njk
  server/views/pages/create/checkAnswers.test.ts
  server/views/pages/view/view.test.ts
  server/views/partials/inductionMeetingDetailsSummary.njk
Due: lint, typecheck

CVSL-4284: Fix appointment name should only be editable if an appointment is needed.
  server/views/pages/view/view.test.ts
  server/views/partials/inductionMeetingDetailsSummary.njk
  server/views/partials/prisonCreated/inductionMeetingDetailsSummary.njk
Due: lint, typecheck

CVSL-4346 Adding precommit hook to dependabot
  .pre-commit-config.yaml
Due: none

CVSL-4346 Adding precommit hook to dependabot (#1948)
  .pre-commit-config.yaml
Due: none

CVSL-4346 move config to right file
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: none

CVSL-4346 move config to right file (#1953)
  .github/dependabot.yml
  .pre-commit-config.yaml
Due: none

CVSL-4343 update cvl api types after removing deprecated fields
  server/@types/licenceApiImport/index.d.ts
Due: lint, typecheck

CVSL-4343 update cvl api types after removing deprecated fields (#1954)
  server/@types/licenceApiImport/index.d.ts
Due: lint, typecheck

CVSL-4394 update contact address and number urls for no appointment OMU licences
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/index.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingName.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/index.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingName.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.ts
Due: lint, typecheck

CVSL-4394 remove console log left in
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingPlace.ts
Due: lint, typecheck

CVSL-4394 add tests
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingName.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingName.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.ts
Due: lint, typecheck

CVSL-4394 adjust logic around links from manual address entry
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/index.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/manualAddressPostcodeLookup.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/manualAddressPostcodeLookup.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/index.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/manualAddressPostcodeLookup.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/manualAddressPostcodeLookup.ts
  server/routes/viewingLicences/handlers/viewLicence.test.ts
  server/routes/viewingLicences/handlers/viewLicence.ts
  server/views/pages/view/view.njk
  server/views/pages/view/view.test.ts
  server/views/partials/prisonCreated/inductionMeetingDetailsSummary.njk
Due: lint, typecheck

CVSL-4324 Adding licence creation block
  create-env-file.sh
  feature.env
  helm_deploy/create-and-vary-a-licence/values.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-test1.yaml
  helm_deploy/values-test2.yaml
  server/config.ts
  server/routes/creatingLicences/handlers/caseload.test.ts
  server/routes/creatingLicences/handlers/caseload.ts
  server/routes/creatingLicences/handlers/licenceCreationBlocked.ts
  server/routes/creatingLicences/index.ts
  server/views/pages/create/licenceCreationBlocked.njk
Due: lint, typecheck

CVSL-4394 update contact address and number urls for no appointment O… (#1955)
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/index.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingName.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingName.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/manualAddressPostcodeLookup.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/hardStop/manualAddressPostcodeLookup.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/index.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingName.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingName.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/manualAddressPostcodeLookup.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/manualAddressPostcodeLookup.ts
  server/routes/viewingLicences/handlers/viewLicence.test.ts
  server/routes/viewingLicences/handlers/viewLicence.ts
  server/views/pages/view/view.njk
  server/views/pages/view/view.test.ts
  server/views/partials/prisonCreated/inductionMeetingDetailsSummary.njk
Due: lint, typecheck
