Repository ministryofjustice/create-and-vary-a-licence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck

.pre-commit-config.yaml:

# Pre-commit hook configuration file
#
# This contains the list of hooks to be run before committing code.
# The devsecops-hooks baseline hook is temporarily disabled while we investigate issues with it but will eventually become compulsory.
# Other hooks maybe added or removed as needed to suit individual project requirements.

repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.2.0
    hooks:
      - id: baseline
  - repo: local
    hooks:
      - id: lint
        name: linting code
        language: system
        entry: ./node_modules/.bin/lint-staged
        types_or: [ts, javascript, css]
        require_serial: true
        pass_filenames: false
      - id: typecheck
        name: verify types
        language: system
        entry: npm run typecheck
        types_or: [ts]
        require_serial: true
        pass_filenames: false
  - repo: builtin
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict

Dependency updates and remove shell-quote from snyk file. The updated concurrently is dependent on shell-quote 1.8.4 which is ok.
  .snyk
  package-lock.json
  package.json
Due: none

Dependency updates and remove shell-quote from snyk file. The updated concurrently is dependent on shell-quote 1.8.4 which is ok. (#1796)
  .snyk
  package-lock.json
  package.json
Due: none

CVSL-4116 remove licence type from com search
  integration_tests/integration/comSearch.cy.ts
  server/views/pages/search/probationSearch/probationSearch.njk
  server/views/pages/search/probationSearch/probationSearch.test.ts
Due: lint, typecheck

CVSL-4210 add suppression
  .snyk
Due: none

CVSL-4210 add suppression (#1797)
  .snyk
Due: none

CVSL-4172 update mobile phone ban condition
  integration_tests/mockApis/polices/v4-0.ts
Due: lint, typecheck

CVSL-4116 remove licence type from com search (#1798)
  integration_tests/integration/comSearch.cy.ts
  server/views/pages/search/probationSearch/probationSearch.njk
  server/views/pages/search/probationSearch/probationSearch.test.ts
Due: lint, typecheck

CVSL-3948: Disable hidden conditional inputs when saving condition data. (#1795)
  assets/js/conditions/addAnother.js
  assets/js/conditions/disableHiddenConditionalInputs.js
  assets/js/conditions/outofBoundsPremises.js
  server/views/pages/manageConditions/additionalLicenceConditionInput.njk
  server/views/pages/manageConditions/outOfBoundsPremises/input.njk
Due: lint

CVSL-4076 Add HDC details to Check your answer variation page
  server/data/licenceApiClient.test.ts
  server/routes/varyingLicences/hdc/handlers/accommodationTypeQuestion.test.ts
  server/routes/varyingLicences/hdc/handlers/residentialChecksCompletedQuestion.test.ts
  server/routes/varyingLicences/hdc/index.ts
  server/routes/varyingLicences/types/curfewAccommodationType.ts
  server/services/conditionService.test.ts
Due: lint, typecheck

CVSL-4170 Update curfew condition for V4 policy.
  server/routes/manageConditions/handlers/additionalLicenceConditionInput.ts
  server/routes/manageConditions/types/additionalConditionInputs/curfewTermsV4.ts
  server/services/conditionService.ts
  server/utils/conditionRoutes.ts
  server/views/pages/manageConditions/curfew/input_V4.njk
Due: lint, typecheck

CVSL-4172 update mobile phone ban condition (#1799)
  integration_tests/mockApis/polices/v4-0.ts
Due: lint, typecheck

address fix
  server/views/pages/licence/partials/hdcCurfewTimes.njk
Due: none

CVSL-4170 Update curfew condition for V4 policy. (#1801)
  server/routes/manageConditions/handlers/additionalLicenceConditionInput.ts
  server/routes/manageConditions/types/additionalConditionInputs/curfewTermsV4.ts
  server/services/conditionService.ts
  server/utils/conditionRoutes.ts
  server/views/pages/manageConditions/curfew/input_V4.njk
Due: lint, typecheck

CVSL-3373: Add validator for V4 driving condition.
  server/routes/manageConditions/types/additionalConditionInputs/vehicleRestrictions.ts
  server/services/conditionService.ts
Due: lint, typecheck

CVSL-4076 Add HDC details to Check your answer variation page
  server/views/pages/licence/partials/hdcCurfewTimes.njk
Due: none

type changes
  server/@types/licenceApiImport/index.d.ts
  server/routes/approvingLicences/handlers/approvalView.test.ts
  server/routes/creatingLicences/handlers/checkAnswers.test.ts
  server/routes/search/handlers/probationSearch.test.ts
  server/routes/varyingLicences/handlers/viewActiveLicence.test.ts
  server/routes/viewingLicences/handlers/printLicence.test.ts
  server/routes/viewingLicences/handlers/viewLicence.test.ts
Due: lint, typecheck

CVSL-3373: Add validator for V4 driving condition. (#1802)
  server/routes/manageConditions/types/additionalConditionInputs/vehicleRestrictions.ts
  server/services/conditionService.ts
Due: lint, typecheck

CVSL-4076 Add HDC details to Check your answer variation page
  integration_tests/mockApis/licence.ts
Due: lint, typecheck

CVSL-4171: Add validator for EM condition for policy V4.
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.ts
  server/services/conditionService.ts
Due: lint, typecheck

CVSL-4171: Fix merge issue.
  server/services/conditionService.ts
Due: lint, typecheck

CVSL-3947: Remove extra wrapping button group div.
  server/views/pages/manageConditions/fileUploads/multiInstanceInput.njk
Due: none

CVSL-4171: Add validator for EM condition for policy V4. (#1803)
  server/routes/manageConditions/types/additionalConditionInputs/electronicMonitoringTypesV4.ts
  server/services/conditionService.ts
Due: lint, typecheck

CVSL-4056: Remove licence type from the ACO case list.
  integration_tests/integration/approveVariation.cy.ts
  integration_tests/integration/approveVariationSearch.cy.ts
  server/views/pages/vary-approve/cases.njk
  server/views/pages/vary-approve/cases.test.ts
Due: lint, typecheck

CVSL-3947: Remove extra wrapping button group div. (#1804)
  server/views/pages/manageConditions/fileUploads/multiInstanceInput.njk
Due: none

CVSL-4106 Adding HDC migration banner
  server/@types/licenceApiImport/index.d.ts
  server/routes/approvingLicences/handlers/approvalView.test.ts
  server/routes/creatingLicences/handlers/checkAnswers.test.ts
  server/routes/initialAppointment/hdc/handlers/individualCurfewHours.test.ts
  server/routes/varyingLicences/handlers/viewActiveLicence.test.ts
  server/routes/varyingLicences/handlers/viewActiveLicence.ts
  server/routes/viewingLicences/handlers/printLicence.test.ts
  server/routes/viewingLicences/handlers/viewLicence.test.ts
  server/views/pages/vary/viewActive.njk
Due: lint, typecheck

CVSL-4056: Remove licence type from the ACO case list. (#1805)
  integration_tests/integration/approveVariation.cy.ts
  integration_tests/integration/approveVariationSearch.cy.ts
  server/views/pages/vary-approve/cases.njk
  server/views/pages/vary-approve/cases.test.ts
Due: lint, typecheck

CVSL-4076 Check your answer variation page
  server/@types/licenceApiImport/index.d.ts
  server/routes/varyingLicences/hdc/handlers/residentialChecksCompletedQuestion.test.ts
  server/routes/varyingLicences/hdc/handlers/residentialChecksCompletedQuestion.ts
  server/routes/varyingLicences/hdc/handlers/residentialChecksIncompleteReason.test.ts
  server/routes/varyingLicences/hdc/handlers/residentialChecksIncompleteReason.ts
  server/routes/varyingLicences/hdc/index.ts
  server/services/hdc/hdcCurfewAddressService.test.ts
  server/services/hdc/hdcCurfewAddressService.ts
  server/views/pages/vary/hdc/residentialChecksCompletedQuestion.njk
  server/views/pages/vary/hdc/residentialChecksIncompleteReason.njk
  server/views/partials/variationSummary.njk
Due: lint, typecheck

CVSL-4106 Fixing specs
  server/routes/varyingLicences/handlers/viewActiveLicence.test.ts
Due: lint, typecheck

CVSL-4076 Check your answer variation page (#1807)
  server/@types/licenceApiImport/index.d.ts
  server/routes/varyingLicences/hdc/handlers/residentialChecksCompletedQuestion.test.ts
  server/routes/varyingLicences/hdc/handlers/residentialChecksCompletedQuestion.ts
  server/routes/varyingLicences/hdc/handlers/residentialChecksIncompleteReason.test.ts
  server/routes/varyingLicences/hdc/handlers/residentialChecksIncompleteReason.ts
  server/routes/varyingLicences/hdc/index.ts
  server/services/hdc/hdcCurfewAddressService.test.ts
  server/services/hdc/hdcCurfewAddressService.ts
  server/views/pages/vary/hdc/residentialChecksCompletedQuestion.njk
  server/views/pages/vary/hdc/residentialChecksIncompleteReason.njk
  server/views/partials/variationSummary.njk
Due: lint, typecheck

CVSL-4106 spec fixes
  server/routes/varyingLicences/handlers/viewActiveLicence.test.ts
Due: lint, typecheck

CVSL-4123 Update Variation Reason page for COM
  integration_tests/integration/hdc/varyLicence.cy.ts
  integration_tests/integration/varyLicence.cy.ts
  integration_tests/pages/reasonForVariationPage.ts
  server/views/pages/vary/reasonForVariation.njk
Due: lint, typecheck

CVSL-4123 Update Variation Reason page for COM (#1808)
  integration_tests/integration/hdc/varyLicence.cy.ts
  integration_tests/integration/varyLicence.cy.ts
  integration_tests/pages/reasonForVariationPage.ts
  server/views/pages/vary/reasonForVariation.njk
Due: lint, typecheck

CVSL-4198 fix type safety of Licence entries
  generate-licence-api-types.sh
  package-lock.json
  package.json
  renovate.json
  server/@types/licenceApiClientTypes.ts
  server/@types/licenceApiImport/index.d.ts
  server/data/licenceApiClient.test.ts
  server/middleware/hdcActualDateCheckMiddleware.test.ts
  server/middleware/hdcActualDateCheckMiddleware.ts
  server/routes/approvingLicences/handlers/approvalView.test.ts
  server/routes/creatingLicences/handlers/checkAnswers.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/index.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/manualAddressPostcodeLookup.test.ts
  server/routes/initialAppointment/hdc/handlers/firstNightCurfewTimes.test.ts
  server/routes/initialAppointment/hdc/handlers/firstNightCurfewTimes.ts
  server/routes/initialAppointment/hdc/handlers/individualCurfewHours.ts
  server/routes/manageConditions/handlers/curfew/curfewRoutes.ts
  server/routes/support/handlers/offenderLicenceStatus.test.ts
  server/routes/varyingLicences/handlers/confirmation.test.ts
  server/routes/varyingLicences/handlers/confirmation.ts
  server/routes/varyingLicences/handlers/viewActiveLicence.test.ts
  server/routes/viewingLicences/handlers/printLicence.test.ts
  server/routes/viewingLicences/handlers/viewLicence.test.ts
  server/services/hdc/hdcCurfewAddressService.test.ts
  server/services/hdc/hdcCurfewAddressService.ts
  server/utils/nunjucksSetup.ts
  server/utils/utils.test.ts
  server/utils/utils.ts
Due: lint, typecheck

CVSL-4124 Update Variation Summary page for COM
  assets/sass/components/_utils.scss
  integration_tests/integration/hdc/varyLicence.cy.ts
  integration_tests/integration/varyLicence.cy.ts
  integration_tests/pages/variationSummaryPage.ts
  server/views/partials/variationDetails.njk
Due: lint, typecheck

CVSL-4124 Update Variation Summary page for COM (#1811)
  assets/sass/components/_utils.scss
  integration_tests/integration/hdc/varyLicence.cy.ts
  integration_tests/integration/varyLicence.cy.ts
  integration_tests/pages/variationSummaryPage.ts
  server/views/partials/variationDetails.njk
Due: lint, typecheck

CVSL-4198 fix type safety of Licence entries (#1810)
  generate-licence-api-types.sh
  package-lock.json
  package.json
  renovate.json
  server/@types/licenceApiClientTypes.ts
  server/@types/licenceApiImport/index.d.ts
  server/data/licenceApiClient.test.ts
  server/middleware/hdcActualDateCheckMiddleware.test.ts
  server/middleware/hdcActualDateCheckMiddleware.ts
  server/routes/approvingLicences/handlers/approvalView.test.ts
  server/routes/creatingLicences/handlers/checkAnswers.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/index.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.test.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/initialMeetingPlace.ts
  server/routes/initialAppointment/handlers/prisonCreated/timeServed/manualAddressPostcodeLookup.test.ts
  server/routes/initialAppointment/hdc/handlers/firstNightCurfewTimes.test.ts
  server/routes/initialAppointment/hdc/handlers/firstNightCurfewTimes.ts
  server/routes/initialAppointment/hdc/handlers/individualCurfewHours.ts
  server/routes/manageConditions/handlers/curfew/curfewRoutes.ts
  server/routes/support/handlers/offenderLicenceStatus.test.ts
  server/routes/varyingLicences/handlers/confirmation.test.ts
  server/routes/varyingLicences/handlers/confirmation.ts
  server/routes/varyingLicences/handlers/viewActiveLicence.test.ts
  server/routes/viewingLicences/handlers/printLicence.test.ts
  server/routes/viewingLicences/handlers/viewLicence.test.ts
  server/services/hdc/hdcCurfewAddressService.test.ts
  server/services/hdc/hdcCurfewAddressService.ts
  server/utils/nunjucksSetup.ts
  server/utils/utils.test.ts
  server/utils/utils.ts
Due: lint, typecheck

CVSL-4173: Update licence print to include new exclusion and restriction zones.
  server/routes/viewingLicences/handlers/printLicence.test.ts
  server/routes/viewingLicences/handlers/printLicence.ts
  server/views/pages/licence/AP.njk
  server/views/pages/licence/partials/exclusionZoneAppendixV4.njk
  server/views/pages/licence/partials/restrictionZoneAppendixV4.njk
Due: lint, typecheck

Fix lint
  server/routes/viewingLicences/handlers/printLicence.test.ts
Due: lint, typecheck
