Repository ministryofjustice/create-and-vary-a-licence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck

lint:
  name: linting code
  language: system
  entry: ./node_modules/.bin/lint-staged
  require_serial: true
  pass_filenames: false

typecheck:
  name: verify types
  language: system
  entry: npm run typecheck
  require_serial: true
  pass_filenames: false

CVSL-4280 UCD-requested styling tweak
  server/views/pages/create/createFrom27July.njk
Due: none

CVSL-4280 UCD-requested styling tweak (#1890)
  server/views/pages/create/createFrom27July.njk
Due: none

CVSL-4339 Removing red highlight from PP support page case list and showing the HDCAD release date label
  server/views/pages/support/probationStaff.njk
Due: none

CVSL-4333 Add V4 appendix for event exclusion condition (#1888)
  server/routes/viewingLicences/handlers/printLicence.test.ts
  server/routes/viewingLicences/handlers/printLicence.ts
  server/views/pages/licence/AP.njk
  server/views/pages/licence/partials/eventExclusionZoneAppendixV4.njk
Due: lint, typecheck

CVSL-4342 removing use of isVariation
  integration_tests/integration/hdc/approveVariation.cy.ts
  integration_tests/mockApis/licence.ts
  server/routes/varyingLicences/handlers/timeline.test.ts
  server/services/licenceService.test.ts
  server/services/timelineService.test.ts
  server/utils/utils.test.ts
  server/utils/utils.ts
Due: lint, typecheck

Cvsl 4339 removing red highlight from pp support page case list and showing the hdcad release date label (#1891)
  server/views/pages/support/probationStaff.njk
Due: none

CVSL-4342 removing use of isVariation (#1892)
  integration_tests/integration/hdc/approveVariation.cy.ts
  integration_tests/mockApis/licence.ts
  server/routes/varyingLicences/handlers/timeline.test.ts
  server/services/licenceService.test.ts
  server/services/timelineService.test.ts
  server/utils/utils.test.ts
  server/utils/utils.ts
Due: lint, typecheck

CVSL-4084 Add date type to date field in Prison Approver caselist
  server/views/pages/approve/cases.njk
  server/views/pages/approve/cases.test.ts
Due: lint, typecheck

CVSL-4084 Add date type to date field in Prison Approver caselist (#1893)
  server/views/pages/approve/cases.njk
  server/views/pages/approve/cases.test.ts
Due: lint, typecheck

CVSL-4338 hide residential check questions if they are not answered
  server/views/partials/variationDetails.test.ts
  server/views/partials/variationSummary.test.ts
Due: lint, typecheck

CVSL-4338 hide residential check questions if they are not answered
  server/views/partials/variationDetails.njk
  server/views/partials/variationSummary.njk
Due: none

CVSL-4321 Adding release date label to PDU Head search results
  server/views/pages/search/varyApproverSearch/varyApproverSearch.njk
  server/views/pages/search/varyApproverSearch/varyApproverSearch.test.ts
  server/views/pages/vary-approve/cases.njk
Due: lint, typecheck

CVSL-4321 Adding release date label to PDU Head search results (#1895)
  server/views/pages/search/varyApproverSearch/varyApproverSearch.njk
  server/views/pages/search/varyApproverSearch/varyApproverSearch.test.ts
  server/views/pages/vary-approve/cases.njk
Due: lint, typecheck

CVSL-4333 Address styling changes from UCD review
  server/views/pages/licence/AP.njk
  server/views/pages/licence/partials/eventExclusionZoneAppendixV4.njk
Due: none

Cvsl 4338 hide residential check questions if they are not answered (#1894)
  server/views/partials/variationDetails.njk
  server/views/partials/variationDetails.test.ts
  server/views/partials/variationSummary.njk
  server/views/partials/variationSummary.test.ts
Due: lint, typecheck

CVSL-4333 Address styling changes from UCD review (#1896)
  server/views/pages/licence/AP.njk
  server/views/pages/licence/partials/eventExclusionZoneAppendixV4.njk
Due: none

CVSL-4319 Amend HTML page titles
  server/routes/initialAppointment/hdc/handlers/doHdcCurfewHoursApplyDaily.test.ts
  server/routes/initialAppointment/hdc/handlers/individualCurfewHours.test.ts
  server/routes/varyingLicences/hdc/handlers/doHdcCurfewHoursApplyDaily.test.ts
  server/routes/varyingLicences/hdc/handlers/individualCurfewHours.test.ts
  server/views/pages/hdc/doHdcCurfewHoursApplyDaily.njk
  server/views/pages/hdc/individualCurfewHours.njk
  server/views/pages/vary/hdc/accommodationTypeQuestion.njk
  server/views/pages/vary/hdc/residentialChecksCompletedQuestion.njk
  server/views/pages/vary/hdc/residentialChecksIncompleteReason.njk
Due: lint, typecheck

CVSL-4319 Amend HTML page titles (#1897)
  server/routes/initialAppointment/hdc/handlers/doHdcCurfewHoursApplyDaily.test.ts
  server/routes/initialAppointment/hdc/handlers/individualCurfewHours.test.ts
  server/routes/varyingLicences/hdc/handlers/doHdcCurfewHoursApplyDaily.test.ts
  server/routes/varyingLicences/hdc/handlers/individualCurfewHours.test.ts
  server/views/pages/hdc/doHdcCurfewHoursApplyDaily.njk
  server/views/pages/hdc/individualCurfewHours.njk
  server/views/pages/vary/hdc/accommodationTypeQuestion.njk
  server/views/pages/vary/hdc/residentialChecksCompletedQuestion.njk
  server/views/pages/vary/hdc/residentialChecksIncompleteReason.njk
Due: lint, typecheck

CVSL-4333 Stop irregulary sized maps distoring document
  assets/sass/components/_licence.scss
  server/views/pages/licence/partials/eventExclusionZoneAppendixV4.njk
  server/views/pages/licence/partials/exclusionZoneAppendixV4.njk
  server/views/pages/licence/partials/restrictionZoneAppendixV4.njk
Due: none

CVSL-4333 Stop irregulary sized maps distoring document (#1899)
  assets/sass/components/_licence.scss
  server/views/pages/licence/partials/eventExclusionZoneAppendixV4.njk
  server/views/pages/licence/partials/exclusionZoneAppendixV4.njk
  server/views/pages/licence/partials/restrictionZoneAppendixV4.njk
Due: none

CVSL-4347 CA Print HDC licence for people on probation
  server/views/pages/licence/partials/hdcCurfewTimes.njk
  server/views/pages/search/caSearch/caSearch.njk
  server/views/pages/search/caSearch/caSearch.test.ts
  server/views/pages/view/view.njk
  server/views/pages/view/view.test.ts
Due: lint, typecheck

CVSL-4333 Adjust order of conditons following UCD review
  server/routes/viewingLicences/handlers/printLicence.test.ts
  server/routes/viewingLicences/handlers/printLicence.ts
Due: lint, typecheck

CVSL-4333 Adjust order of conditons following UCD review (#1901)
  server/routes/viewingLicences/handlers/printLicence.test.ts
  server/routes/viewingLicences/handlers/printLicence.ts
Due: lint, typecheck

CVSL-4347 CA Print HDC licence for people on probation (#1900)
  server/views/pages/licence/partials/hdcCurfewTimes.njk
  server/views/pages/search/caSearch/caSearch.njk
  server/views/pages/search/caSearch/caSearch.test.ts
  server/views/pages/view/view.njk
  server/views/pages/view/view.test.ts
Due: lint, typecheck

CVSL-4349 Patch dependencies
  package.json
Due: none

CVSL-4349 Patch dependencies
  package-lock.json
  package.json
  server/middleware/appInsightsMiddleware.test.ts
  server/utils/azureAppInsights.test.ts
  server/utils/azureAppInsights.ts
Due: lint, typecheck

CVSL-4349 Patch dependencies
  .allowed-scripts.mjs
Due: lint

CVSL-4319 Amend HTML page titles fix
  server/views/pages/hdc/curfewHours.njk
  server/views/pages/hdc/doHdcCurfewHoursApplyDaily.njk
  server/views/pages/vary/hdc/accommodationTypeQuestion.njk
  server/views/pages/vary/hdc/residentialChecksCompletedQuestion.njk
Due: none

CVSL-4319 Amend HTML page titles fix (#1906)
  server/views/pages/hdc/curfewHours.njk
  server/views/pages/hdc/doHdcCurfewHoursApplyDaily.njk
  server/views/pages/vary/hdc/accommodationTypeQuestion.njk
  server/views/pages/vary/hdc/residentialChecksCompletedQuestion.njk
Due: none

CVSL-4367 dependency patch
  package-lock.json
Due: none

CVSL-4251 Added No appointment needed as an option for the initial appointment
  server/@types/licenceApiImport/index.d.ts
  server/routes/initialAppointment/handlers/initialMeetingName.test.ts
  server/routes/initialAppointment/handlers/initialMeetingName.ts
  server/routes/initialAppointment/types/personName.ts
  server/services/licenceService.ts
  server/views/pages/initialAppointment/initialMeetingPerson.njk
  server/views/pages/initialAppointment/initialMeetingPerson.test.ts
Due: lint, typecheck

CVSL-4367 dependency patch (#1907)
  package-lock.json
Due: none

CVSL-4370 Remove red highlight from CA case list and show HDCAD release label
  server/views/pages/support/probationTeam.njk
  server/views/pages/view/cases.njk
  server/views/pages/view/cases.test.ts
  server/views/partials/viewCases.njk
  server/views/partials/viewCases.test.ts
Due: lint, typecheck

CVSL-4370 Remove red highlight from CA case list and show HDCAD release label (#1909)
  server/views/pages/support/probationTeam.njk
  server/views/pages/view/cases.njk
  server/views/pages/view/cases.test.ts
  server/views/partials/viewCases.njk
  server/views/partials/viewCases.test.ts
Due: lint, typecheck

CVSL-4251 Added No appointment needed as an option for the initial appointment (#1908)
  server/@types/licenceApiImport/index.d.ts
  server/routes/initialAppointment/handlers/initialMeetingName.test.ts
  server/routes/initialAppointment/handlers/initialMeetingName.ts
  server/routes/initialAppointment/types/personName.ts
  server/services/licenceService.ts
  server/views/pages/initialAppointment/initialMeetingPerson.njk
  server/views/pages/initialAppointment/initialMeetingPerson.test.ts
Due: lint, typecheck

CVSL-4372 Enable HDC toggle
  helm_deploy/create-and-vary-a-licence/values.yaml
Due: none

Path conditions:
  lint: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.css$
  typecheck: any of: \.(ts|mts|cts)$
