Repository ministryofjustice/create-and-vary-a-licence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck

.pre-commit-config.yaml:

# Pre-commit hook configuration file
#
# This contains the list of hooks to be run before committing code.
# The devsecops-hooks baseline hook is temporarily disabled while we investigate issues with it but will eventually become compulsory.
# Other hooks maybe added or removed as needed to suit individual project requirements.

repos:
  - repo: https://github.com/ministryofjustice/devsecops-hooks
    rev: v1.2.0
    hooks:
      - id: baseline
  - repo: local
    hooks:
      - id: lint
        name: linting code
        language: system
        entry: ./node_modules/.bin/lint-staged
        types_or: [ts, javascript, css]
        require_serial: true
        pass_filenames: false
      - id: typecheck
        name: verify types
        language: system
        entry: npm run typecheck
        types_or: [ts]
        require_serial: true
        pass_filenames: false
  - repo: builtin
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: check-yaml
      - id: check-merge-conflict

CVSL-4173: Update licence print to include new exclusion and restrict… (#1809)
  server/routes/viewingLicences/handlers/printLicence.test.ts
  server/routes/viewingLicences/handlers/printLicence.ts
  server/views/pages/licence/AP.njk
  server/views/pages/licence/partials/exclusionZoneAppendixV4.njk
  server/views/pages/licence/partials/restrictionZoneAppendixV4.njk
Due: lint, typecheck

CVSL-4063 Remove practitioner name from create listing
  integration_tests/integration/comCreateCaseload.cy.ts
  integration_tests/integration/createLicence.cy.ts
  integration_tests/integration/electronicMonitoringProvider.cy.ts
  integration_tests/integration/postcodeLookup.cy.ts
  server/views/pages/create/caseload.njk
  server/views/pages/create/caseload.test.ts
Due: lint, typecheck

CVSL-4124 UX-FIX
  integration_tests/integration/hdc/varyLicence.cy.ts
  integration_tests/integration/varyLicence.cy.ts
  integration_tests/pages/reasonForVariationPage.ts
  integration_tests/pages/variationSummaryPage.ts
  server/views/pages/vary/reasonForVariation.njk
  server/views/partials/variationDetails.njk
Due: lint, typecheck

CVSL-4124 UX-FIX (#1817)
  integration_tests/integration/hdc/varyLicence.cy.ts
  integration_tests/integration/varyLicence.cy.ts
  integration_tests/pages/reasonForVariationPage.ts
  integration_tests/pages/variationSummaryPage.ts
  server/views/pages/vary/reasonForVariation.njk
  server/views/partials/variationDetails.njk
Due: lint, typecheck

CVSL-4106 Adding HDC migration banner (#1806)
  server/@types/licenceApiImport/index.d.ts
  server/routes/creatingLicences/handlers/checkAnswers.test.ts
  server/routes/initialAppointment/hdc/handlers/individualCurfewHours.test.ts
  server/routes/varyingLicences/handlers/viewActiveLicence.test.ts
  server/routes/varyingLicences/handlers/viewActiveLicence.ts
  server/routes/viewingLicences/handlers/printLicence.test.ts
  server/routes/viewingLicences/handlers/viewLicence.test.ts
  server/views/pages/vary/viewActive.njk
Due: lint, typecheck

CVSL-4063 Remove practitioner name from create listing (#1814)
  integration_tests/integration/comCreateCaseload.cy.ts
  integration_tests/integration/createLicence.cy.ts
  integration_tests/integration/electronicMonitoringProvider.cy.ts
  integration_tests/integration/postcodeLookup.cy.ts
  server/views/pages/create/caseload.njk
  server/views/pages/create/caseload.test.ts
Due: lint, typecheck

CVSL-4064 Remove practitioner name from vary listing
  integration_tests/integration/comVaryCaseload.cy.ts
  integration_tests/integration/time-served/varyLicence.cy.ts
  integration_tests/integration/varyLicence.cy.ts
  integration_tests/pages/varyCases.ts
  server/views/pages/vary/caseload.njk
  server/views/pages/vary/caseload.test.ts
Due: lint, typecheck

CVSL-4064 Remove practitioner name from vary listing (#1821)
  integration_tests/integration/comVaryCaseload.cy.ts
  integration_tests/integration/time-served/varyLicence.cy.ts
  integration_tests/integration/varyLicence.cy.ts
  integration_tests/pages/varyCases.ts
  server/views/pages/vary/caseload.njk
  server/views/pages/vary/caseload.test.ts
Due: lint, typecheck

CVSL-4184 Vary Do you want to use the standard HDC curfew hours page
  server/routes/initialAppointment/hdc/handlers/firstNightCurfewTimes.test.ts
  server/routes/initialAppointment/hdc/handlers/firstNightCurfewTimes.ts
  server/routes/varyingLicences/hdc/handlers/standardCurfewHoursQuestion.test.ts
  server/routes/varyingLicences/hdc/handlers/standardCurfewHoursQuestion.ts
  server/routes/varyingLicences/hdc/index.ts
  server/services/hdc/hdcService.test.ts
  server/services/hdc/hdcService.ts
  server/utils/curfewDefaults.ts
Due: lint, typecheck

CVSL-4235 Bump DPR library
  .allowed-scripts.mjs
  package-lock.json
  package.json
Due: lint

CVSL-4107 Adding warning of for bespoke conditions when varying HDC migrations
  server/routes/creatingLicences/handlers/checkAnswers.test.ts
  server/routes/creatingLicences/handlers/checkAnswers.ts
  server/views/pages/create/checkAnswers.njk
  server/views/pages/create/checkAnswers.test.ts
  server/views/partials/bespokeConditionsSummary.njk
Due: lint, typecheck

CVSL-4235 Bump DPR library (#1822)
  .allowed-scripts.mjs
  package-lock.json
  package.json
Due: lint

CVSL-4184 Vary Do you want to use the standard HDC curfew hours page (#1823)
  server/routes/initialAppointment/hdc/handlers/firstNightCurfewTimes.test.ts
  server/routes/initialAppointment/hdc/handlers/firstNightCurfewTimes.ts
  server/routes/varyingLicences/hdc/handlers/standardCurfewHoursQuestion.test.ts
  server/routes/varyingLicences/hdc/handlers/standardCurfewHoursQuestion.ts
  server/routes/varyingLicences/hdc/index.ts
  server/services/hdc/hdcService.test.ts
  server/services/hdc/hdcService.ts
  server/utils/curfewDefaults.ts
Due: lint, typecheck

Revert "CVSL-4235 Bump DPR library (#1822)"
  .allowed-scripts.mjs
  package-lock.json
  package.json
Due: lint

Revert "CVSL-4235 Bump DPR library (#1822)" (#1825)
  .allowed-scripts.mjs
  package-lock.json
  package.json
Due: lint

CVSL-4107 Moving isVariationOfHdcMigration check into HDC service
  server/routes/creatingLicences/crdLicenceInHardStop.test.ts
  server/routes/creatingLicences/handlers/checkAnswers.test.ts
  server/routes/creatingLicences/handlers/checkAnswers.ts
  server/routes/creatingLicences/index.ts
  server/services/hdc/hdcService.test.ts
  server/services/hdc/hdcService.ts
Due: lint, typecheck

CVSL-4107 Adding warning of for bespoke conditions when varying HDC migrations (#1824)
  server/routes/creatingLicences/crdLicenceInHardStop.test.ts
  server/routes/creatingLicences/handlers/checkAnswers.test.ts
  server/routes/creatingLicences/handlers/checkAnswers.ts
  server/routes/creatingLicences/index.ts
  server/services/hdc/hdcService.test.ts
  server/services/hdc/hdcService.ts
  server/views/pages/create/checkAnswers.njk
  server/views/pages/create/checkAnswers.test.ts
  server/views/partials/bespokeConditionsSummary.njk
Due: lint, typecheck

CVSL-4183 Vary Do the same HDC curfew hours apply every day page
  server/routes/varyingLicences/hdc/handlers/doHdcCurfewHoursApplyDaily.test.ts
  server/routes/varyingLicences/hdc/handlers/doHdcCurfewHoursApplyDaily.ts
  server/routes/varyingLicences/hdc/index.ts
Due: lint, typecheck

CVSL-4183 Vary Do the same HDC curfew hours apply every day page
  server/routes/varyingLicences/hdc/handlers/doHdcCurfewHoursApplyDaily.test.ts
  server/routes/varyingLicences/hdc/handlers/doHdcCurfewHoursApplyDaily.ts
Due: lint, typecheck

CVSL-4183 Vary Do the same HDC curfew hours apply every day page (#1826)
  server/routes/varyingLicences/hdc/handlers/doHdcCurfewHoursApplyDaily.test.ts
  server/routes/varyingLicences/hdc/handlers/doHdcCurfewHoursApplyDaily.ts
  server/routes/varyingLicences/hdc/index.ts
Due: lint, typecheck

CVSL-4186 Adding individual curfew hour entry to HDC variation flow
  server/routes/varyingLicences/hdc/handlers/individualCurfewHours.test.ts
  server/routes/varyingLicences/hdc/handlers/individualCurfewHours.ts
  server/routes/varyingLicences/hdc/index.ts
Due: lint, typecheck

CVSL-4107 Removing the bespoke conditions warning when there are no bespoke conditions on the licence
  server/views/pages/create/checkAnswers.test.ts
  server/views/partials/bespokeConditionsSummary.njk
Due: lint, typecheck

CVSL-4186 Adding individual curfew hour entry to HDC variation flow (#1827)
  server/routes/varyingLicences/hdc/handlers/individualCurfewHours.test.ts
  server/routes/varyingLicences/hdc/handlers/individualCurfewHours.ts
  server/routes/varyingLicences/hdc/index.ts
Due: lint, typecheck

CVSL-4107 Removing the bespoke conditions warning when there are no bespoke conditions on the licence (#1828)
  server/views/pages/create/checkAnswers.test.ts
  server/views/partials/bespokeConditionsSummary.njk
Due: lint, typecheck

CVSL-4185 VARIATIONS Enter the curfew hours page
  server/routes/varyingLicences/hdc/handlers/curfewHours.test.ts
  server/routes/varyingLicences/hdc/handlers/curfewHours.ts
  server/routes/varyingLicences/hdc/index.ts
Due: lint, typecheck

CVSL-4185 VARIATIONS Enter the curfew hours page (#1830)
  server/routes/varyingLicences/hdc/handlers/curfewHours.test.ts
  server/routes/varyingLicences/hdc/handlers/curfewHours.ts
  server/routes/varyingLicences/hdc/index.ts
Due: lint, typecheck

CVSL-4237 Removing unnecessary text from policy v4 input page
  server/views/pages/manageConditions/curfew/input_V4.njk
Due: none

CVSL-4238 change time restriction text
  server/routes/manageConditions/types/additionalConditionInputs/publicEvent.ts
Due: lint, typecheck

CVSL-4237 Removing unnecessary text from policy v4 input page (#1831)
  server/views/pages/manageConditions/curfew/input_V4.njk
Due: none

CVSL-4239 change time restriction text
  server/routes/manageConditions/types/additionalConditionInputs/vehicleRestrictions.ts
Due: lint, typecheck

CVSL-4238 change time restriction text (#1832)
  server/routes/manageConditions/types/additionalConditionInputs/publicEvent.ts
Due: lint, typecheck

CVSL-4239 change time restriction text (#1833)
  server/routes/manageConditions/types/additionalConditionInputs/vehicleRestrictions.ts
Due: lint, typecheck

CVSL-4184 Vary Do you want to use the standard HDC curfew hours page fix
  server/views/pages/hdc/standardCurfewHoursQuestion.njk
Due: none

CVSL-4184 Vary Do you want to use the standard HDC curfew hours page fix (#1834)
  server/views/pages/hdc/standardCurfewHoursQuestion.njk
Due: none

CVSL-4146: Remove "how do I vary this licence" from current licence and history page.
  server/views/pages/vary/timeline.njk
  server/views/pages/vary/timeline.test.ts
Due: lint, typecheck

CVSL-4146: Remove "how do I vary this licence" from current licence and history page. (#1835)
  server/views/pages/vary/timeline.njk
  server/views/pages/vary/timeline.test.ts
Due: lint, typecheck

CVSL-4244 add margins to formbuilder
  server/views/formBuilder.njk
  server/views/pages/manageConditions/additionalLicenceConditionInput.njk
Due: none

CVSL-4245 Incorrect AM PM conversion in localTimeTo12h filter
  server/routes/creatingLicences/handlers/checkAnswers.ts
  server/services/hdc/hdcService.ts
  server/utils/nunjucksSetup.test.ts
  server/utils/nunjucksSetup.ts
  server/views/pages/licence/partials/nonUniformCurfewTimesTable.njk
Due: lint, typecheck
