Repository ministryofjustice/create-and-vary-a-licence: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, typecheck

lint:
  name: linting code
  language: system
  entry: ./node_modules/.bin/lint-staged
  require_serial: true
  pass_filenames: false

typecheck:
  name: verify types
  language: system
  entry: npm run typecheck
  require_serial: true
  pass_filenames: false

refactor
  integration_tests/pages/firstNightCurfewTimesPage.ts
Due: lint, typecheck

fix
  integration_tests/integration/createHdcLicence.cy.ts
  integration_tests/pages/firstNightCurfewTimesPage.ts
Due: lint, typecheck

fix
  integration_tests/pages/firstNightCurfewTimesPage.ts
Due: lint, typecheck

CVSL-3822 PR comments
  server/routes/initialAppointment/hdc/handlers/individualCurfewHours.test.ts
  server/routes/initialAppointment/hdc/handlers/individualCurfewHours.ts
  server/routes/initialAppointment/hdc/types/dailyCurfewTime.ts
  server/services/hdcService.test.ts
  server/views/pages/hdc/individualCurfewHours.njk
  server/views/partials/curfewTimePicker.njk
Due: lint, typecheck

CVSL-3785: Remove the route we used to manually create a PRRD licence before recalls were enabled.
  integration_tests/integration/createPrrdLicence.cy.ts
  integration_tests/integration/time-served/varyLicence.cy.ts
  server/routes/creatingLicences/handlers/recall/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/recall/confirmCreate.ts
  server/routes/creatingLicences/handlers/recall/index.ts
  server/routes/index.ts
Due: lint, typecheck

CVSL-3881 First Night Curfew Hours page route (#1701)
  cypress.config.ts
  integration_tests/integration/createHdcLicence.cy.ts
  integration_tests/mockApis/licence.ts
  integration_tests/pages/appointmentTime.ts
  integration_tests/pages/firstNightCurfewTimesPage.ts
  server/routes/initialAppointment/handlers/initialMeetingTime.test.ts
  server/routes/initialAppointment/handlers/initialMeetingTime.ts
Due: lint, typecheck

CVSL-3785: Uncomment code.
  integration_tests/integration/time-served/varyLicence.cy.ts
Due: lint, typecheck

CVSL-3822 Renaming STANDARD_CURFEW_TIMES references
  server/routes/initialAppointment/hdc/handlers/individualCurfewHours.ts
Due: lint, typecheck

Proposed new test structure for CVL
  .github/instructions/handler-tests.instructions.md
  server/routes/changeTeam/handlers/changeTeam.test.ts
  server/routes/creatingLicences/handlers/bespokeConditionsQuestion.test.ts
  server/routes/creatingLicences/handlers/editQuestion.test.ts
  server/routes/creatingLicences/handlers/prisonWillCreateThisLicence.test.ts
  server/testUtils/handlerTestUtils.ts
Due: lint, typecheck

CVSL-3785: Remove the route we used to manually create a PRRD licence… (#1702)
  integration_tests/integration/createPrrdLicence.cy.ts
  server/routes/creatingLicences/handlers/recall/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/recall/confirmCreate.ts
  server/routes/creatingLicences/handlers/recall/index.ts
  server/routes/index.ts
Due: lint, typecheck

POC for template updates skill
  .github/skills/hmpps-template-sync/SKILL.md
  .github/skills/hmpps-template-sync/scripts/apply-change.mjs
  .github/skills/hmpps-template-sync/scripts/fetch-changelog.mjs
Due: lint

update
  .github/agents/hmpps-template-sync.agent.md
  .github/skills/hmpps-template-sync/README.md
  .github/skills/hmpps-template-sync/SKILL.md
  .github/skills/hmpps-template-sync/scripts/fetch-changelog.mjs
  .github/skills/hmpps-template-sync/scripts/get-change-details.mjs
  .github/skills/hmpps-template-sync/scripts/list-changes.mjs
Due: lint

CVSL-3785: Call get probation case in the backend instead of Delius API to get probation details for a prison number.
  cypress.config.ts
  integration_tests/integration/comCreateCaseload.cy.ts
  integration_tests/integration/createHdcLicence.cy.ts
  integration_tests/integration/postcodeLookup.cy.ts
  integration_tests/integration/time-served/createLicence.cy.ts
  integration_tests/mockApis/delius.ts
  integration_tests/mockApis/licence.ts
  integration_tests/pages/index.ts
  package.json
  server/@types/licenceApiClientTypes.ts
  server/@types/licenceApiImport/index.d.ts
  server/data/deliusClient.ts
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
  server/routes/creatingLicences/crdLicenceInHardStop.test.ts
  server/routes/creatingLicences/handlers/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/confirmCreate.ts
  server/routes/creatingLicences/handlers/hdc/confirmCreate.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/confirmCreate.ts
  server/routes/creatingLicences/handlers/prisonWillCreateThisLicence.test.ts
  server/routes/creatingLicences/handlers/prisonWillCreateThisLicence.ts
  server/routes/creatingLicences/index.ts
  server/routes/support/handlers/offenderSearch.test.ts
  server/routes/support/handlers/offenderSearch.ts
  server/services/licenceService.test.ts
  server/services/licenceService.ts
  server/services/probationService.test.ts
  server/services/probationService.ts
Due: lint, typecheck

CVSL-3785: Undo accidental commit of change to packaage.json.
  package.json
Due: none

CVSL-3877 fix rendering issue for reports page
  server/views/pages/reports/index.njk
Due: none

CVSL-3785: Call get probation case in the backend instead of Delius A… (#1705)
  cypress.config.ts
  integration_tests/integration/comCreateCaseload.cy.ts
  integration_tests/integration/createHdcLicence.cy.ts
  integration_tests/integration/postcodeLookup.cy.ts
  integration_tests/integration/time-served/createLicence.cy.ts
  integration_tests/mockApis/delius.ts
  integration_tests/mockApis/licence.ts
  integration_tests/pages/index.ts
  server/@types/licenceApiClientTypes.ts
  server/@types/licenceApiImport/index.d.ts
  server/data/deliusClient.ts
  server/data/licenceApiClient.test.ts
  server/data/licenceApiClient.ts
  server/routes/creatingLicences/crdLicenceInHardStop.test.ts
  server/routes/creatingLicences/handlers/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/confirmCreate.ts
  server/routes/creatingLicences/handlers/hdc/confirmCreate.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/confirmCreate.test.ts
  server/routes/creatingLicences/handlers/prisonCreated/timeServed/confirmCreate.ts
  server/routes/creatingLicences/handlers/prisonWillCreateThisLicence.test.ts
  server/routes/creatingLicences/handlers/prisonWillCreateThisLicence.ts
  server/routes/creatingLicences/index.ts
  server/routes/support/handlers/offenderSearch.test.ts
  server/routes/support/handlers/offenderSearch.ts
  server/services/licenceService.test.ts
  server/services/licenceService.ts
  server/services/probationService.test.ts
  server/services/probationService.ts
Due: lint, typecheck

CVSL-3877 fix rendering issue for reports page (#1706)
  server/views/pages/reports/index.njk
Due: none

CVSL-3894: All all prisons to be added to time served enabled prisons config.
  server/routes/varyingLicences/handlers/timeline.test.ts
  server/routes/varyingLicences/handlers/timeline.ts
  server/routes/viewingLicences/handlers/viewCases.test.ts
  server/routes/viewingLicences/handlers/viewCases.ts
Due: lint, typecheck

CVSL-3894: All all prisons to be added to time served enabled prisons config. (#1707)
  server/routes/varyingLicences/handlers/timeline.test.ts
  server/routes/varyingLicences/handlers/timeline.ts
  server/routes/viewingLicences/handlers/viewCases.test.ts
  server/routes/viewingLicences/handlers/viewCases.ts
Due: lint, typecheck

CVSL-3894 add ALL_PRISONS to config for time served prisons
  helm_deploy/create-and-vary-a-licence/values.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-preprod.yaml
  helm_deploy/values-test1.yaml
  helm_deploy/values-test2.yaml
Due: none

CVSL-3894 add ALL_PRISONS to config for time served prisons (#1708)
  helm_deploy/create-and-vary-a-licence/values.yaml
  helm_deploy/values-dev.yaml
  helm_deploy/values-preprod.yaml
  helm_deploy/values-test1.yaml
  helm_deploy/values-test2.yaml
Due: none

CVSL-3855 Add HDC info to Check Licence Details page
  integration_tests/integration/approveLicence.cy.ts
  integration_tests/pages/approvalView.ts
  server/views/pages/approve/view.njk
  server/views/pages/create/checkAnswers.njk
  server/views/pages/create/checkAnswers.test.ts
  server/views/pages/licence/partials/hdcCurfewTimes.njk
  server/views/pages/vary/viewActive.njk
  server/views/pages/vary/viewActive.test.ts
  server/views/pages/view/view.njk
  server/views/pages/view/view.test.ts
  server/views/partials/timePicker.njk
Due: lint, typecheck

fix
  server/views/partials/timePicker.njk
Due: none

localstack older version
  docker-compose.yml
Due: none

circle ci docker older version
  .circleci/config.yml
  docker-compose.yml
Due: none

community-archive
  .circleci/config.yml
  docker-compose-test.yml
  docker-compose.yml
Due: none

CVSL-3855 Add HDC info to Check Licence Details page (#1710)
  .circleci/config.yml
  docker-compose-test.yml
  docker-compose.yml
  integration_tests/integration/approveLicence.cy.ts
  integration_tests/pages/approvalView.ts
  server/views/pages/approve/view.njk
  server/views/pages/create/checkAnswers.njk
  server/views/pages/create/checkAnswers.test.ts
  server/views/pages/licence/partials/hdcCurfewTimes.njk
  server/views/pages/vary/viewActive.njk
  server/views/pages/vary/viewActive.test.ts
  server/views/pages/view/view.njk
  server/views/pages/view/view.test.ts
Due: lint, typecheck

CVSL-3938 dependency update
  package-lock.json
Due: none

CVSL-3938 dependency update (#1711)
  package-lock.json
Due: none

CVSL-3889: Remove the LAO enabled feature flag.
  .env.example
  feature.env
  helm_deploy/create-and-vary-a-licence/values.yaml
  server/config.ts
  server/middleware/checkComCaseAccessMiddleware.ts
  server/utils/nunjucksSetup.ts
  server/views/pages/create/caseload.njk
  server/views/pages/create/caseload.test.ts
  server/views/pages/search/probationSearch/probationSearch.njk
  server/views/pages/search/probationSearch/probationSearch.test.ts
  server/views/pages/search/varyApproverSearch/varyApproverSearch.njk
  server/views/pages/search/varyApproverSearch/varyApproverSearch.test.ts
  server/views/pages/vary-approve/cases.njk
  server/views/pages/vary-approve/cases.test.ts
  server/views/pages/vary/caseload.njk
  server/views/pages/vary/caseload.test.ts
Due: lint, typecheck

CVSL-3881 ucd fixes
  server/views/pages/hdc/curfewHours.njk
  server/views/pages/hdc/doHdcCurfewHoursApplyDaily.njk
  server/views/pages/hdc/firstNightCurfewTimes.njk
  server/views/pages/hdc/standardCurfewHoursQuestion.njk
  server/views/partials/timePicker.njk
  server/views/partials/timePicker.test.ts
Due: lint, typecheck

fix
  integration_tests/integration/createHdcLicence.cy.ts
  server/views/partials/timePicker.test.ts
Due: lint, typecheck

CVSL-3881 ucd fixes (#1713)
  integration_tests/integration/createHdcLicence.cy.ts
  server/views/pages/hdc/curfewHours.njk
  server/views/pages/hdc/doHdcCurfewHoursApplyDaily.njk
  server/views/pages/hdc/firstNightCurfewTimes.njk
  server/views/pages/hdc/standardCurfewHoursQuestion.njk
  server/views/partials/timePicker.njk
  server/views/partials/timePicker.test.ts
Due: lint, typecheck

CVSL-3889: Remove the LAO enabled feature flag. (#1712)
  .env.example
  feature.env
  helm_deploy/create-and-vary-a-licence/values.yaml
  server/config.ts
  server/middleware/checkComCaseAccessMiddleware.ts
  server/utils/nunjucksSetup.ts
  server/views/pages/create/caseload.njk
  server/views/pages/create/caseload.test.ts
  server/views/pages/search/probationSearch/probationSearch.njk
  server/views/pages/search/probationSearch/probationSearch.test.ts
  server/views/pages/search/varyApproverSearch/varyApproverSearch.njk
  server/views/pages/search/varyApproverSearch/varyApproverSearch.test.ts
  server/views/pages/vary-approve/cases.njk
  server/views/pages/vary-approve/cases.test.ts
  server/views/pages/vary/caseload.njk
  server/views/pages/vary/caseload.test.ts
Due: lint, typecheck

cosmetic fix
  server/views/pages/hdc/firstNightCurfewTimes.njk
Due: none

cosmetic fix (#1714)
  server/views/pages/hdc/firstNightCurfewTimes.njk
Due: none

CVSL-3792 change case on validation message
  .env.example
  server/validators/simpleTimeValidator.test.ts
  server/validators/simpleTimeValidator.ts
Due: lint, typecheck

CVSL-3792 change case on validation message (#1715)
  .env.example
  server/validators/simpleTimeValidator.test.ts
  server/validators/simpleTimeValidator.ts
Due: lint, typecheck

CVSL-3822 PR Comments
  server/routes/initialAppointment/hdc/handlers/individualCurfewHours.test.ts
  server/routes/initialAppointment/hdc/handlers/individualCurfewHours.ts
  server/services/hdcService.test.ts
  server/services/hdcService.ts
  server/views/customComponents/timeInput/amPmInput.njk
  server/views/customComponents/timeInput/timeInput.njk
  server/views/partials/curfewTimePicker.njk
Due: lint, typecheck

CVSL-3822 Linting fixes
  server/routes/initialAppointment/hdc/handlers/individualCurfewHours.test.ts
Due: lint, typecheck

Path conditions:
  lint: any of: \.(ts|mts|cts)$, \.(js|mjs|cjs)$, \.css$
  typecheck: any of: \.(ts|mts|cts)$
